.root {
	@apply col-span-4;

	> .header {
		@apply flex-nowrap items-center justify-between;

		> .label {
			@apply gap-0 items-start;

			> .title {
				@apply heading-3;
			}

			> .subtitle {
				@apply paragraph-sm-g6;
			}
		}
	}

	> .content {
		@apply grid grid-cols-1 gap-2;
	}
}
