.root {
	@apply col-span-full;
	@apply grid grid-cols-1 gap-2;
	@apply self-stretch;

	> .banner {
		@apply col-span-1;
	}
	> .fullBanner {
		@apply col-span-1;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			@apply grid-cols-2;

			> .banner {
				@apply col-span-1;
			}
			> .fullBanner {
				@apply col-span-2;
			}
		}
	}

	@mixin larger-than $mantine-breakpoint-3xl {
		.root {
			@apply grid-cols-4;
			> .fullBanner {
				@apply col-span-4;
			}
		}
	}
}
