.root {
	@apply col-span-full;
	@apply grid grid-cols-1 gap-2;
	@apply self-stretch;

	> .banner {
		@apply col-span-1;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-md {
		.root {
			@apply grid-cols-2;
			@apply gap-4;

			> .banner {
				@apply col-span-1;
			}
		}
	}
}
