.root {
	@apply min-w-0;
	@apply flex-1 px-2 gap-7;
	@apply items-stretch flex-nowrap;

	> .section {
		@apply gap-3 items-stretch flex-nowrap;

		> .divider {
			.label {
				@apply display-xs-13-g6 uppercase;

				&::before {
					@apply flex-[unset] w-4;
				}
			}

			.row {
				@apply gap-2;

				> .info {
					@apply cursor-pointer;
				}
			}
		}

		button.subtle,
		a.subtle {
			@apply h-7;
			@apply self-center px-2 mt-2;
			@apply paragraph-sm-g6;
		}

		&.details {
			@apply gap-2;

			> .title {
				@apply heading-1;
			}

			> .row {
				@apply justify-between items-center;

				> .cell {
					@apply gap-2 items-center;
				}

				> .rating {
					@apply gap-0 items-end;
				}

				.subtext {
					@apply paragraph-sm-g6;
				}

				&:has(.id) {
					@apply my-2;
				}

				> .owner {
					@apply gap-2;

					> .avatar {
						@apply size-10;
					}

					> .link {
						@apply text-blue-600 font-semibold;
						@apply underline underline-offset-4 decoration-1 decoration-dashed decoration-blue-600;
					}
				}

				> .breadcrumbs {
					> a {
						@apply paragraph-sm;
						@apply underline underline-offset-4 decoration-1 decoration-dashed decoration-gray-600;
					}

					> .separator {
						@apply mx-1;
					}
				}

				.action {
					@apply size-9;
					@apply border-gray-400 text-dark-300;
				}
			}

			> .description {
				@apply paragraph-md text-justify;
			}

			> .cycle {
				@apply px-6 py-4 gap-4;
				@apply flex flex-row items-center justify-between flex-nowrap;
				@apply transition-colors duration-300;

				background-image: repeating-linear-gradient(
						0deg,
						#dee2e6,
						#dee2e6 16px,
						transparent 16px,
						transparent 32px,
						#dee2e6 32px
					),
					repeating-linear-gradient(
						90deg,
						#dee2e6,
						#dee2e6 16px,
						transparent 16px,
						transparent 32px,
						#dee2e6 32px
					),
					repeating-linear-gradient(
						180deg,
						#dee2e6,
						#dee2e6 16px,
						transparent 16px,
						transparent 32px,
						#dee2e6 32px
					),
					repeating-linear-gradient(
						270deg,
						#dee2e6,
						#dee2e6 16px,
						transparent 16px,
						transparent 32px,
						#dee2e6 32px
					);
				background-size:
					1px 100%,
					100% 1px,
					1px 100%,
					100% 1px;
				background-position:
					0 0,
					0 0,
					100% 0,
					0 100%;
				background-repeat: no-repeat;
				animation: borderAnimation 1.5s linear infinite;
				animation-play-state: paused;

				> .left {
					@apply gap-0 items-start;

					> .title {
						@apply display-md-sb;
					}

					> .description {
						@apply paragraph-sm;
					}
				}

				> .icon {
					@apply text-gray-200;
				}

				> .right {
					@apply pointer-events-none;
					@apply gap-1 justify-end;
				}

				&:hover {
					@apply bg-gray-50;
					animation-play-state: running;
				}
			}
		}

		&.properties {
			@apply -mb-3;

			> .table {
				@apply gap-0;

				> .row {
					@apply h-24 flex-auto gap-0;
					@apply flex-col flex-nowrap;

					/* Dashed border */
					background-image: repeating-linear-gradient(
						90deg,
						#0000 0 8px,
						var(--mantine-color-gray-3) 0 16px,
						#0000 0 24px
					);
					background-position: bottom;
					background-size: 100% 1px;
					background-repeat: repeat-x;

					> .cell {
						@apply h-12;
						@apply px-6 gap-3 self-stretch;
						@apply flex-nowrap items-center justify-center;

						/* Dashed border */
						background-image: repeating-linear-gradient(
							90deg,
							#0000 0 8px,
							var(--mantine-color-gray-3) 0 16px,
							#0000 0 24px
						);
						background-position: bottom;
						background-size: 100% 1px;
						background-repeat: repeat-x;

						> .icon {
							@apply text-gray-600;
						}

						> .key {
							@apply flex-auto;
							@apply display-md-sb;
						}

						> .value {
							@apply paragraph-md text-right;
						}

						&:last-child {
							@apply bg-none;
						}
					}

					&:last-child {
						@apply bg-none;
					}
				}
			}
		}

		&.permits {
			@apply gap-4;

			> .row {
				@apply gap-4 items-center justify-center flex-nowrap;

				> .cell {
					@apply gap-0;

					> .key {
						@apply paragraph-sm-g6;
					}

					> .row {
						@apply gap-1 items-baseline;

						> .value {
							@apply numeric-md;
						}

						> .unit {
							@apply paragraph-sm;
						}
					}

					&:last-child {
						@apply items-end;

						p {
							@apply text-right;
						}
					}
				}

				> .slider {
					@apply flex-auto pointer-events-none;

					.thumb {
						@apply hidden;
					}
				}
			}
		}

		&.winnings {
			@apply gap-4;

			> .alert {
				@apply h-36;
				@apply items-center justify-center gap-0;
				@apply bg-dark-600;

				> .title {
					@apply heading-3-w text-center;
				}

				> .description {
					@apply paragraph-sm-g3 text-center;
				}
			}

			> .row {
				@apply grid grid-cols-2 grid-rows-2;
				@apply items-center justify-center flex-nowrap;
				@apply mt-2 gap-0;
				@apply bg-dark-600;
				@apply transition-shadow duration-500;

				> .cell {
					@apply w-full h-36;
					@apply px-6 py-4 gap-0;
					@apply items-center justify-center;
					@apply border border-r-0 border-b-0 border-solid border-dark-400;

					&:nth-child(2n) {
						@apply border-r;
					}

					&:nth-child(3),
					&:nth-child(4) {
						@apply border-b;
					}

					> .icon {
						@apply size-9 flex items-center justify-center;
						@apply mb-2;
						@apply bg-dark-400 text-dark-50;
						@apply rounded-sm;
					}

					> .key {
						@apply paragraph-sm-g3 text-center;
					}

					> .row {
						@apply gap-1 items-baseline;

						> .badge {
							@apply bg-dark-400;
							@apply text-dark-100;
						}

						> .value {
							@apply numeric-md-w text-center;
						}

						> .unit {
							@apply paragraph-sm-w;
						}

						> .badge,
						> .unit {
							@apply hidden;
						}
					}
				}

				> .divider {
					@apply self-stretch;
					@apply border-dark-400;
				}

				&:hover {
					@apply shadow-xs;
				}
			}
		}

		&.bids {
			@apply gap-4;

			> .table {
				@apply h-[480px];
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply px-8;

			> .section.properties > .table > .row {
				@apply h-12 flex-row;

				> .cell {
					@apply h-full flex-[50%];
				}
			}

			> .section.winnings > .row {
				@apply flex flex-row;

				> .cell {
					@apply w-[unset] flex-grow;
					@apply border border-r-0;

					&:last-child {
						@apply w-20 flex-grow-0;
					}

					&:nth-child(2) {
						@apply border-r-0;
					}

					> .row > .badge,
					> .row > .unit {
						@apply inline-grid;
					}
				}
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
			> .section.details > .row .action {
				@apply size-7;
			}

			> .section.properties > .table > .row {
				@apply h-24 flex-col;

				> .cell {
					@apply h-12;
				}
			}

			> .section.winnings > .row {
				@apply grid;

				> .cell {
					@apply w-full flex-grow;
					@apply border border-r-0 border-b-0;

					&:nth-child(2n) {
						@apply border-r;
					}

					&:nth-child(3),
					&:nth-child(4) {
						@apply border-b;
					}

					&:last-child {
						@apply w-full flex-grow;
					}
				}
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-xl {
		.root {
			@apply px-12;

			> .section.properties > .table > .row {
				@apply h-12 flex-row;

				> .cell {
					@apply h-full flex-[50%];
				}
			}

			> .section.winnings > .row {
				@apply flex flex-row;

				> .cell {
					@apply w-[unset] flex-grow;
					@apply border border-r-0;

					&:last-child {
						@apply w-20 flex-grow-0;
					}

					&:nth-child(2) {
						@apply border-r-0;
					}
				}
			}
		}
	}

	@mixin dark {
		.root {
			> .details {
				> .row {
					> .breadcrumbs > a {
						@apply decoration-dark-50;
					}

					.action {
						@apply bg-dark-700 border-dark-400 text-white;

						&:hover {
							@apply bg-dark-600;
						}
					}
				}

				> .cycle {
					background-image: repeating-linear-gradient(
							0deg,
							#373a40,
							#373a40 16px,
							transparent 16px,
							transparent 32px,
							#373a40 32px
						),
						repeating-linear-gradient(
							90deg,
							#373a40,
							#373a40 16px,
							transparent 16px,
							transparent 32px,
							#373a40 32px
						),
						repeating-linear-gradient(
							180deg,
							#373a40,
							#373a40 16px,
							transparent 16px,
							transparent 32px,
							#373a40 32px
						),
						repeating-linear-gradient(
							270deg,
							#373a40,
							#373a40 16px,
							transparent 16px,
							transparent 32px,
							#373a40 32px
						);

					> .icon {
						@apply text-dark-400;
					}

					&:hover {
						@apply bg-dark-600;
					}
				}
			}

			> .properties > .table > .row {
				background-image: repeating-linear-gradient(
					90deg,
					#0000 0 8px,
					var(--mantine-color-dark-4) 0 16px,
					#0000 0 24px
				);

				> .cell {
					background-image: repeating-linear-gradient(
						90deg,
						#0000 0 8px,
						var(--mantine-color-dark-4) 0 16px,
						#0000 0 24px
					);

					@mixin larger-than $mantine-breakpoint-sm {
						background-image: repeating-linear-gradient(
							0deg,
							#0000 0 8px,
							var(--mantine-color-dark-4) 0 16px,
							#0000 0 24px
						);
						background-position: right;
						background-size: 1px 100%;
						background-repeat: repeat-y;
					}

					@mixin larger-than $mantine-breakpoint-md {
						background-image: repeating-linear-gradient(
							90deg,
							#0000 0 8px,
							var(--mantine-color-dark-4) 0 16px,
							#0000 0 24px
						);
						background-position: bottom;
						background-size: 100% 1px;
						background-repeat: repeat-x;
					}

					@mixin larger-than $mantine-breakpoint-xl {
						background-image: repeating-linear-gradient(
							0deg,
							#0000 0 8px,
							var(--mantine-color-dark-4) 0 16px,
							#0000 0 24px
						);
						background-position: right;
						background-size: 1px 100%;
						background-repeat: repeat-y;
					}
				}
			}

			> .winnings {
				> .alert > .title {
					@apply text-white;
				}

				> .row > .cell > .row {
					> .value {
						@apply !text-white;
					}

					> .unit {
						@apply !text-dark-50/50;
					}
				}
			}
		}
	}
}

@keyframes borderAnimation {
	from {
		background-position:
			0 0,
			-32px 0,
			100% -32px,
			0 100%;
	}
	to {
		background-position:
			0 -32px,
			0 0,
			100% 0,
			-32px 100%;
	}
}
