.root {
	@apply h-5;

	&.currency {
		@apply h-6;
		@apply rounded-none;
		@apply display-sm-sb-d3;
	}

	&.ending {
		@apply bg-red-600;
	}
}

* {
	@mixin dark {
		.root {
			&.currency {
				@apply bg-dark-400;
				@apply text-dark-100;
			}

			&.auctionType {
				@apply bg-dark-400;
				@apply text-gray-300;
			}
		}
	}
}
