.root {
	&.currency {
		@apply h-6;
		@apply px-2;
		@apply rounded-none;
		@apply display-sm-sb-d3;
	}
}

* {
	@mixin dark {
		.root {
			&.currency {
				@apply bg-dark-400;
				@apply text-dark-100;
			}
		}
	}
}
