.root {
	@apply h-5;

	.removeButton {
		@apply size-6 min-w-[unset] min-h-[unset];
		@apply text-current;

		span,
		svg {
			@apply text-current;
		}
	}

	&.currency {
		@apply h-6;
		@apply rounded-none;
		@apply display-sm-sb-d3;
	}

	&.ending {
		@apply bg-red-600;
	}

	&.trend {
		@apply rounded-sm;
	}
}

* {
	@mixin dark {
		.root {
			&.currency {
				@apply bg-dark-400;
				@apply text-dark-100;
			}

			&.auctionType {
				@apply bg-dark-400;
				@apply text-gray-300;
			}
		}
	}
}
