.root {
	@apply grid grid-cols-1 gap-2;
	@apply self-stretch;

	> .stat,
	> .banner {
		@apply col-span-1;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-md {
		.root {
			@apply grid-cols-6;
			@apply gap-4;

			> .stat,
			> .banner {
				@apply col-span-3;
			}
		}
	}

	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			@apply grid-cols-12;

			> .banner {
				@apply col-span-6;
			}
		}
	}

	@mixin larger-than $mantine-breakpoint-3xl {
		.root > .banner {
			@apply col-span-3;
		}
	}
}
