.root {
	@apply col-span-full;

	> .header {
		@apply w-full;
		@apply flex-col flex-nowrap;

		> .label {
			@apply flex-auto gap-0;
			@apply items-center;

			> .heading {
				@apply heading-3;
			}

			> .subheading {
				@apply paragraph-sm;
			}
		}

		> .action {
			@apply flex-shrink-0;
		}
	}

	> .row {
		@apply flex-col-reverse items-stretch justify-center;
		@apply flex-nowrap;

		> .list {
			@apply min-w-0;
			@apply flex-auto;
			@apply flex-nowrap overflow-x-auto;
			@apply gap-3;

			> .card {
				@apply w-[280px];
			}

			&.expanded {
				@apply grid grid-cols-1;
				@apply flex-wrap overflow-x-hidden;

				> .card {
					@apply w-full;
				}
			}
		}

		> .add {
			@apply w-full max-h-[240px];
			@apply px-4 py-6 mr-auto gap-3;
			@apply flex-shrink-0;
			@apply flex flex-col items-center justify-center;
			@apply transition-colors duration-300;

			&:first-child {
				@apply ml-auto;
			}

			background-image: repeating-linear-gradient(
					0deg,
					#dee2e6,
					#dee2e6 16px,
					transparent 16px,
					transparent 32px,
					#dee2e6 32px
				),
				repeating-linear-gradient(
					90deg,
					#dee2e6,
					#dee2e6 16px,
					transparent 16px,
					transparent 32px,
					#dee2e6 32px
				),
				repeating-linear-gradient(
					180deg,
					#dee2e6,
					#dee2e6 16px,
					transparent 16px,
					transparent 32px,
					#dee2e6 32px
				),
				repeating-linear-gradient(
					270deg,
					#dee2e6,
					#dee2e6 16px,
					transparent 16px,
					transparent 32px,
					#dee2e6 32px
				);
			background-size:
				1px 100%,
				100% 1px,
				1px 100%,
				100% 1px;
			background-position:
				0 0,
				0 0,
				100% 0,
				0 100%;
			background-repeat: no-repeat;
			animation: borderAnimation 1s linear infinite;
			animation-play-state: paused;

			> .icon {
				@apply size-12;
				@apply flex items-center justify-center;
				@apply bg-white border border-solid border-gray-300 text-gray-600;
				@apply rounded-sm;
				@apply transition-colors duration-300;
			}

			> .text {
				@apply display-sm-sb-d3 text-center;
			}

			&:hover {
				@apply bg-gray-100;
				animation-play-state: running;

				> .icon {
					@apply bg-gray-50;
				}
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-2xs {
		.root > .header {
			@apply flex-row;

			> .label {
				@apply items-start;
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-xs {
		.root > .row > .list.expanded {
			@apply grid-cols-2;
		}
	}
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .row {
			@apply flex-row;

			> .add {
				@apply w-48;
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root > .row > .list.expanded {
			@apply grid-cols-3;
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root > .row > .list.expanded {
			@apply grid-cols-4;
		}
	}
	@mixin larger-than $mantine-breakpoint-3xl {
		.root > .row > .list.expanded {
			@apply grid-cols-5;
		}
	}

	@mixin dark {
		.root {
			> .header > .action {
				@apply bg-dark-700 border-dark-400 text-white;

				&:hover {
					@apply bg-dark-600;
				}
			}

			> .row > .add {
				background-image: repeating-linear-gradient(
						0deg,
						#373a40,
						#373a40 16px,
						transparent 16px,
						transparent 32px,
						#373a40 32px
					),
					repeating-linear-gradient(
						90deg,
						#373a40,
						#373a40 16px,
						transparent 16px,
						transparent 32px,
						#373a40 32px
					),
					repeating-linear-gradient(
						180deg,
						#373a40,
						#373a40 16px,
						transparent 16px,
						transparent 32px,
						#373a40 32px
					),
					repeating-linear-gradient(
						270deg,
						#373a40,
						#373a40 16px,
						transparent 16px,
						transparent 32px,
						#373a40 32px
					);

				> .icon {
					@apply bg-dark-600 border-dark-400 text-dark-50;
				}

				&:hover {
					@apply bg-dark-600;

					> .icon {
						@apply bg-dark-400;
					}
				}
			}
		}
	}
}

@keyframes borderAnimation {
	from {
		background-position:
			0 0,
			-32px 0,
			100% -32px,
			0 100%;
	}
	to {
		background-position:
			0 -32px,
			0 0,
			100% 0,
			-32px 100%;
	}
}
