.root {
	@apply gap-1;

	> .unit {
		@apply justify-center items-center gap-2;

		> .value {
			@apply gap-1;

			> .cell {
				@apply w-8 h-12;
				@apply bg-dark-600;
				@apply transition-colors duration-150;

				> .digit {
					--value: '';

					@apply h-[1.5em];
					@apply overflow-hidden;
					@apply numeric-xl;
					@apply text-white;

					&::after {
						@apply relative;
						@apply whitespace-pre text-center leading-[1.5em];
						@apply transition-all;

						top: calc(var(--value) * -1.5em);
						content: '' attr(data-content);
					}
				}

				&:hover {
					@apply bg-dark-400;
				}
			}
		}

		> .label {
			@apply display-xs uppercase;
		}
	}

	> .separator {
		@apply gap-0.5;
		@apply heading-2;
		@apply -translate-y-3.5;
	}
}

* {
	@mixin dark {
		.root > .unit > .value > .cell {
			@apply bg-white;

			> .digit {
				@apply text-dark-600 font-black;
			}

			&:hover {
				@apply bg-gray-100;
			}
		}
	}

	@mixin rtl {
		.root {
			@apply flex-row-reverse;

			> .unit > .value {
				@apply flex-row-reverse;
			}
		}
	}
}
