.root {
	@apply gap-1 flex-nowrap;

	> .unit {
		@apply flex-nowrap justify-center items-center gap-2;

		> .value {
			@apply gap-1 flex-nowrap;

			> .cell {
				@apply w-8 h-12;
				@apply bg-dark-600;
				@apply transition-colors duration-150;

				> .digit {
					--value: '';

					@apply h-[1.5em];
					@apply overflow-hidden;
					@apply numeric-xl-w;

					&::after {
						@apply relative;
						@apply whitespace-pre text-center leading-[1.5em];
						@apply transition-all;

						top: calc(var(--value) * -1.5em);
						content: '' attr(data-content);
					}
				}

				&:hover {
					@apply bg-dark-400;
				}
			}
		}

		> .label {
			@apply display-2xs uppercase;
		}
	}

	> .separator {
		@apply gap-0.5;
		@apply heading-2;
		@apply -translate-y-3.5;
	}

	> .text {
		@apply leading-none;
	}

	&.medium {
		@apply gap-3;

		> .unit {
			@apply gap-1;

			> .value > .cell {
				@apply w-6 h-10;

				> .digit {
					@apply numeric-lg-w;
					@apply h-[1.75em];

					&::after {
						@apply leading-[1.75em];

						top: calc(var(--value) * -1.75em);
					}
				}
			}
			> .label {
				@apply display-xs;
			}
		}

		> .separator {
			@apply hidden;
		}
	}
}

* {
	@mixin dark {
		.root > .unit > .value > .cell {
			@apply bg-white;

			> .digit {
				@apply text-dark-600 font-black;
			}

			&:hover {
				@apply bg-gray-100;
			}
		}
	}

	@mixin rtl {
		.root {
			@apply flex-row-reverse;

			> .unit > .value {
				@apply flex-row-reverse;
			}
		}
	}
}
