.root {
	@apply h-12;
	@apply px-6 py-1;
	@apply flex-shrink-0 flex-nowrap;
	@apply items-center;
	@apply bg-dark-600;

	> .logo {
		@apply mr-auto flex-nowrap;

		> .button {
			@apply px-2;
			@apply text-white;

			.icon {
				@apply mr-2;
			}

			.label {
				@apply h-[unset];
				@apply align-baseline gap-1.5;
				@apply heading-3-w;
				@apply !text-white;
			}
		}
	}

	> .search {
		@apply gap-2 flex-nowrap flex-shrink-0;

		> .button {
			@apply h-7 px-4 flex-shrink-0;
			@apply flex justify-center gap-2 flex-shrink-0;
			@apply bg-dark-400 rounded-sm;
			@apply paragraph-sm-w;

			&:hover {
				@apply bg-dark-300;
			}
		}

		> .shortcut {
			@apply h-7;
			@apply flex flex-row items-center justify-center;
			@apply px-1.5;
			@apply bg-dark-400;
			@apply rounded-sm;
			@apply display-xs-w;
		}
	}

	> .user {
		@apply h-9;
		@apply flex flex-row items-center justify-center flex-nowrap;
		@apply px-3 gap-2 ml-auto;
		@apply bg-dark-600 text-white;
		@apply rounded-sm;
		@apply transition-colors duration-300;

		> .avatar {
			@apply size-7;
		}

		> .name {
			@apply display-sm-sb-w;
			@apply !text-white;
		}

		&:hover {
			@apply bg-dark-500;
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-xs {
		.root > .search > .button {
			@apply w-[240px];
		}
	}
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .search > .button {
			@apply w-[320px];
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root > .search > .button {
			@apply w-[480px];
		}
	}

	@mixin dark {
		.root > .search {
			> .button {
				@apply text-dark-50;
			}

			> .shortcut {
				@apply text-dark-50;
			}
		}
	}
}
