.root {
	@apply px-8 py-6 gap-3;
	@apply items-stretch justify-center;
	@apply bg-dark-600 border border-solid border-dark-400;
	@apply transition-shadow duration-300;

	> .header {
		@apply gap-1 pb-2;
		@apply items-center justify-between;
		@apply flex-nowrap;

		> .label {
			@apply gap-2 flex-nowrap;

			> .title {
				@apply display-md-sb;
				@apply !text-white;
			}
		}

		> .badge {
			@apply min-w-8;

			&.white {
				@apply bg-white text-dark-600;
			}
		}
	}

	> .progress {
		@apply relative;
		@apply bg-dark-600;
		@apply overflow-visible;

		&:has(.section.white) {
			@apply bg-dark-400;
		}

		.section {
			&.white {
				@apply bg-white;
			}

			&.red {
				@apply bg-red-600 opacity-20;
			}

			&.orange {
				@apply bg-orange-600 opacity-40;
			}

			&.yellow {
				@apply bg-yellow-600 opacity-60;
			}

			&.green {
				@apply bg-green-600 opacity-80;
			}
		}

		.marker {
			@apply absolute;
			@apply -translate-x-1/2;
			@apply text-white;
		}
	}

	> .footer {
		@apply items-center justify-center;
		@apply flex-nowrap;

		> .value {
			@apply flex-auto;
			@apply gap-0 items-center;

			> .label {
				@apply paragraph-sm-w !text-dark-50;
				@apply leading-none text-center;
			}

			> .row {
				@apply gap-1 flex-nowrap;
				@apply items-baseline;

				> .amount {
					@apply numeric-sm;
					@apply !text-white;
				}

				> .unit {
					@apply paragraph-xs !text-dark-50;
				}
			}

			&:first-child {
				@apply items-start;

				> .row > .amount {
					@apply numeric-md-w;
				}
			}

			&:last-child {
				@apply items-end;
			}
		}

		> .icon {
			@apply text-dark-50;
			@apply flex-shrink-0;
		}
	}

	&:hover {
		@apply shadow-xs;
	}
}
