.root {
	@apply gap-6;

	> .header {
		@apply gap-2;

		> .divider {
			@apply my-2;
		}

		> .row {
			@apply flex-nowrap gap-8 justify-between items-center;

			> .label {
				@apply flex-col gap-0 items-start flex-nowrap;

				> .title {
					@apply heading-1;
				}

				> .subtitle {
					@apply paragraph-sm-g6;
				}
			}

			> .settings {
				@apply gap-2 flex-nowrap flex-shrink-0;

				> .label {
					@apply hidden paragraph-sm;
				}

				> .dropdown {
					@apply flex-auto;

					input {
						@apply h-8 min-h-[unset];
					}
				}

				> .button {
					@apply size-8;
				}
			}

			> .filters {
				@apply flex-col gap-2 items-center;

				> .label {
					@apply paragraph-sm;
				}

				> .group {
					@apply gap-2 items-center justify-center;

					> .badge {
						@apply bg-gray-200 text-dark-600;
					}
				}
			}

			> .search {
				@apply min-w-[200px];
				@apply self-stretch;
				@apply rounded-sm;
			}

			> .actions {
				@apply flex-col-reverse items-center self-stretch;
				@apply gap-2 flex-nowrap;

				> .count {
					@apply h-8;
					@apply paragraph-sm-15;
					@apply rounded-sm;
					@apply transition-colors duration-300;

					&:hover {
						@apply bg-gray-100;
					}

					> .label {
						@apply flex flex-row items-center justify-start;
					}

					> .remove {
						@apply text-xs;
					}
				}

				> .buttons {
					@apply flex-col;
					@apply self-stretch items-stretch;
					@apply gap-2 flex-nowrap;
				}
			}

			&.wrapMobile {
				@apply flex-col gap-2;

				> .label {
					@apply items-center;

					> .title,
					> .subtitle {
						@apply text-center;
					}
				}
			}
		}
	}

	> .table,
	> .list {
		&:has(.placeholder) {
			@apply bg-gray-50;
		}

		.placeholder {
			@apply flex-auto;
			@apply items-center justify-center;

			> .icon {
				@apply size-11 rounded-full bg-gray-100 text-gray-500;
				@apply flex justify-center items-center;
			}

			> .text {
				@apply paragraph-sm-g6;
			}
		}
	}

	> .table {
		@apply relative;
		@apply flex flex-col flex-1 gap-0;

		tr {
			td {
				@apply border-b-0;
				@apply paragraph-sm;

				p {
					@apply paragraph-sm;
				}
			}

			&.gray,
			&[data-selected='true'] {
				@apply bg-gray-50;

				> td {
					@apply bg-gray-50;

					&.selection::before {
						@apply bg-[unset];
					}
				}
			}

			.anchor {
				@apply truncate;
				@apply display-sm-sb-d3;
				@apply underline underline-offset-4 decoration-1 decoration-dashed decoration-gray-600;
			}

			.copy {
				@apply size-6 min-w-[unset] min-h-[unset];
				@apply rounded-sm;
			}

			.group {
				@apply gap-1 flex-nowrap;
			}

			.between {
				@apply flex flex-row items-center justify-between gap-2;

				&.firm {
					> .anchor {
						@apply max-w-[160px];
					}
				}
			}

			> .status {
				@apply min-h-[120px] text-center;
			}

			> .selection,
			> .actions {
				@apply bg-white;
			}

			> .actions {
				@apply flex-nowrap items-center justify-center;

				&:has(.button) {
					@apply p-0 border-0;
				}

				> .cell {
					@apply gap-0;
					@apply flex-nowrap items-center justify-center;

					.button {
						@apply h-10;
						@apply border-0 border-r border-solid border-dark-300;

						&:not(.primary) {
							@apply size-10;
						}

						&:last-child {
							@apply border-0;
						}

						&.delete {
							@apply bg-red-600 text-white;
						}

						&.secondary {
							@apply bg-gray-100 text-dark-300;
							@apply border-gray-300;

							&:hover {
								@apply bg-gray-200;
							}
						}
					}
				}
			}
		}
	}

	> .list {
		@apply relative;
		@apply flex-1;
	}

	> .footer {
		@apply justify-center items-center flex-nowrap gap-4;

		&:has(.legend) {
			@apply justify-between;
		}

		> .pagination {
			@apply gap-2 justify-center;

			> .button {
				@apply size-8 border-gray-300;
			}
		}

		> .row {
			@apply gap-4 items-center;
		}
	}

	.legend {
		@apply gap-4 items-center justify-center;

		> .cell {
			@apply gap-2;

			> .value {
				@apply paragraph-xs;
			}
		}
	}

	.mine,
	.draftCycle {
		@apply text-dark-300;
	}

	.contributing,
	.ongoingCycle {
		@apply text-blue-600;
	}

	.winning {
		@apply text-yellow-600;
	}

	.unverified,
	.ending,
	.expiring {
		@apply text-orange-600;
	}

	.highUsage {
		@apply text-red-600;
	}

	.uninvited,
	.secondaryMarket {
		@apply text-green-600;
	}
}

.filterMenu {
	@apply px-6 pt-4 pb-6;

	.label {
		@apply display-md-sb mb-4 p-0;
	}

	.divider {
		@apply m-4;
	}

	.options {
		@apply gap-3;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-xs {
		.root > .header > .row > .actions > .buttons {
			@apply flex-row items-center;

			> .button {
				@apply flex-[50%];
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .header > .row {
			&.wrapMobile {
				@apply flex-row gap-8;

				> .label {
					@apply items-start;

					> .title {
						@apply text-left;
					}

					> .subtitle {
						@apply text-left;
					}
				}
			}

			> .filters {
				@apply flex-row items-start;

				> .badges {
					@apply items-start justify-start;
				}
			}

			> .settings > .label {
				@apply block;
			}

			> .search {
				@apply self-center;
			}

			> .actions {
				@apply flex-row;

				> .buttons > .button {
					@apply flex-auto;
				}
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root > .header > .row {
			&.wrapMobile > .label {
				@apply items-baseline;
			}

			> .label {
				@apply flex-row items-baseline gap-3;
			}

			> .search {
				@apply min-w-[240px];
			}
		}
	}

	@mixin dark {
		.root {
			> .header > .row {
				> .settings > .dropdown input,
				> .settings > .button {
					@apply bg-dark-700 border-dark-400 text-white;

					&:hover {
						@apply bg-dark-600;
					}

					&:disabled {
						@apply opacity-60;
					}
				}

				> .filters > .group > .badge {
					@apply bg-dark-500 text-dark-100;
				}

				> .actions {
					> .count:hover {
						@apply bg-dark-600;
					}

					> .buttons > .button {
						&.primary {
							@apply bg-dark-400 text-white;

							&:hover {
								@apply bg-dark-300;
							}

							&:disabled {
								@apply opacity-25;

								&:hover {
									@apply bg-dark-400;
								}
							}
						}

						&.secondary {
							@apply bg-dark-600 border-dark-400 text-white;

							&:hover {
								@apply bg-dark-500;
							}

							&:disabled {
								@apply opacity-25;

								&:hover {
									@apply bg-dark-600;
								}
							}
						}
					}
				}
			}

			> .table,
			> .list {
				&:has(.placeholder) {
					@apply bg-dark-600;
				}

				.placeholder {
					@apply bg-dark-600;

					> .icon {
						@apply bg-dark-500 text-dark-300;
					}
				}
			}

			> .table tr {
				.anchor {
					@apply text-dark-50;
					@apply decoration-dark-50;
				}

				&.gray,
				&[data-selected='true'] {
					@apply bg-dark-600;

					> td {
						@apply bg-dark-600;
					}
				}

				> .selection,
				> .actions {
					@apply bg-dark-700;
				}

				> .actions > .cell .button {
					@apply border-dark-400;

					&.secondary,
					&.primary {
						@apply bg-dark-600 text-white;

						&:hover {
							@apply bg-dark-400;
						}

						&:disabled {
							@apply opacity-25;

							&:hover {
								@apply bg-dark-600;
							}
						}
					}
				}
			}

			> .footer > .row > .button {
				@apply bg-dark-700 border-dark-400 text-white;

				&:hover {
					@apply bg-dark-600;
				}
			}

			.mine {
				@apply text-dark-50;
			}
		}

		.pagination {
			button[data-active='true'] {
				@apply bg-white border-white text-dark-600;

				&:hover {
					@apply bg-dark-50 border-dark-50;
				}
			}

			> .button {
				@apply bg-dark-700 border-dark-400 text-white;

				&:hover {
					@apply bg-dark-600;
				}

				&:disabled {
					@apply bg-dark-600;
					@apply opacity-40;
				}
			}
		}
	}
}
