.root {
	> .navigation {
		@apply gap-4 flex-nowrap;

		> .button {
			@apply size-8;
			@apply border-gray-400;
		}

		> .breadcrumbs {
			> a {
				@apply paragraph-sm;
				@apply underline underline-offset-4 decoration-1 decoration-dashed decoration-gray-600;
			}

			> .separator {
				@apply mx-1;
			}
		}
	}

	> .row {
		@apply items-start justify-between;
		@apply flex-nowrap;

		> .content {
			@apply gap-4;

			> .label {
				@apply gap-0 items-start;

				> .title {
					@apply heading-1;
				}

				> .description {
					@apply paragraph-md text-justify;
				}
			}

			> .badges {
				@apply gap-1.5;
			}
		}

		> .actions {
			@apply gap-2 flex-nowrap;
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .navigation {
			@apply gap-6;
		}
	}

	@mixin dark {
		.root > .navigation {
			> .breadcrumbs > a {
				@apply decoration-dark-50;
			}

			> .button {
				@apply bg-dark-700 text-white border-dark-400;

				&:hover {
					@apply bg-dark-600;
				}

				&:disabled {
					@apply opacity-25;

					&:hover {
						@apply bg-dark-700;
					}
				}
			}
		}
	}
}
