.root {
	@apply gap-8;

	> .navigation {
		> .button {
			@apply size-8;
			@apply flex-shrink-0;
			@apply border-gray-400;
		}

		> .divider {
			@apply hidden;
		}

		> .breadcrumbs {
			@apply gap-y-2;

			> a {
				@apply paragraph-sm;
				@apply underline underline-offset-4 decoration-1 decoration-dashed decoration-gray-600;
			}

			> .elipsis {
				@apply flex-shrink-0;
				@apply paragraph-sm;
			}

			> .separator {
				@apply mx-1;
			}
		}
	}

	> .row {
		@apply items-start justify-between;
		@apply flex-nowrap;

		> .content {
			@apply gap-4;

			> .wrapper {
				@apply flex-col flex-nowrap items-start;
				@apply gap-2;

				> .icon {
					@apply size-14;
					@apply flex items-center justify-center flex-shrink-0;
					@apply bg-gray-50 border border-solid border-gray-300 text-dark-300;
					@apply rounded-sm;
				}

				> .label {
					@apply gap-0.5 items-start;

					> .title {
						@apply heading-1 leading-none;
					}

					> .description {
						@apply paragraph-md text-justify;
					}
				}
			}

			> .badges {
				@apply gap-1.5;
			}
		}

		> .actions {
			@apply gap-2 flex-nowrap;
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply gap-6;

			> .navigation > .divider {
				@apply block;
			}

			> .row > .content > .wrapper {
				@apply flex-row;
				@apply gap-4;
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-xl {
		.root {
			@apply gap-8;

			> .navigation {
				@apply gap-6;
			}
		}
	}

	@mixin dark {
		.root > .navigation {
			> .button {
				@apply bg-dark-700 text-white border-dark-400;

				&:hover {
					@apply bg-dark-600;
				}

				&:disabled {
					@apply opacity-25;

					&:hover {
						@apply bg-dark-700;
					}
				}
			}

			> .breadcrumbs > a {
				@apply decoration-dark-50;
			}
		}
	}
}
