.root {
	> .navigation {
		@apply gap-4;

		> .breadcrumbs {
			> a {
				@apply paragraph-sm;
			}

			> .separator {
				@apply mx-1;
			}
		}
	}

	> .title {
		@apply heading-1;
	}

	> .description {
		@apply paragraph-md text-justify;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .navigation {
			@apply gap-6;
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
		}
	}
	@mixin larger-than $mantine-breakpoint-xl {
		.root {
		}
	}
}
