.root {
	@apply gap-8;

	> .navigation {
		@apply gap-4;

		> .breadcrumbs {
			> a {
				@apply paragraph-sm;
			}

			> .separator {
				@apply mx-1;
			}
		}
	}

	> .row {
		@apply items-start justify-between;
		@apply flex-nowrap;

		> .content {
			@apply gap-4;

			> .label {
				@apply gap-0 items-start;

				> .title {
					@apply heading-1;
				}

				> .description {
					@apply paragraph-md text-justify;
				}
			}

			> .badges {
				@apply gap-1.5;
			}
		}

		> .actions {
			@apply gap-2 flex-nowrap;
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .navigation {
			@apply gap-6;
		}
	}

	@mixin dark {
		.root > .navigation > .button {
			@apply bg-dark-400 text-white;

			&:hover {
				@apply bg-dark-300;
			}

			&:disabled {
				@apply opacity-25;

				&:hover {
					@apply bg-dark-400;
				}
			}
		}
	}
}
