.root {
	> .navigation {
		@apply gap-4;

		> .breadcrumbs {
			> a {
				@apply paragraph-sm;
			}

			> .separator {
				@apply mx-1;
			}
		}
	}

	> .title {
		@apply heading-1;
	}

	> .description {
		@apply paragraph-md text-justify;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .navigation {
			@apply gap-6;
		}
	}

	@mixin dark {
		.root > .navigation > .button {
			@apply bg-dark-400 text-white;

			&:hover {
				@apply bg-dark-300;
			}

			&:disabled {
				@apply opacity-25;

				&:hover {
					@apply bg-dark-400;
				}
			}
		}
	}
}
