.root {
	@apply relative;
	@apply w-60 h-[200px];
	@apply overflow-hidden;
	@apply flex-shrink-0;
	@apply gap-0;
	@apply border border-solid border-gray-300;
	@apply transition-all duration-500;

	> .image {
		@apply absolute top-0 left-0;
		@apply h-[140px];
		@apply overflow-hidden;

		> img {
			@apply object-cover;
			@apply transition-all duration-1000;
		}

		> .overlay {
			@apply absolute -bottom-8 left-0 w-full h-full;
			@apply opacity-75;
			@apply transition-all duration-1000;

			background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		}
	}

	> .label {
		@apply absolute -bottom-12 left-0;
		@apply w-full h-28;
		@apply items-center;
		@apply pt-3 gap-0;
		@apply bg-white;
		@apply z-10;
		@apply transition-all duration-500;

		> .heading {
			@apply display-md;
		}

		> .value {
			@apply paragraph-sm-g6 leading-none;
		}

		> .icon {
			@apply mt-4;
		}
	}

	&:hover {
		@apply shadow-sm;

		> .image {
			img {
				@apply blur-[1px];
			}

			> .overlay {
				@apply bottom-4;
			}
		}

		> .label {
			@apply bottom-0;
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-xs {
		.root {
			@apply w-full flex-shrink;
		}
	}

	@mixin dark {
		.root {
			@apply border border-solid border-dark-600;

			> .image > .overlay {
				@apply opacity-90;
				@apply -bottom-4;
			}

			> .label {
				@apply bg-dark-600;

				> .heading {
					@apply text-white;
				}

				> .value {
					@apply text-dark-100;
				}
			}

			&:hover {
				> .image > .overlay {
					@apply bottom-4;
				}
			}
		}
	}
}
