.root {
	@apply w-screen min-h-screen;
	@apply items-stretch justify-start;
	@apply px-32 py-12 gap-8;

	> .bg {
		@apply fixed top-0 left-0 w-full h-full;
		@apply overflow-hidden;
		@apply -z-10;

		> .graphic {
			@apply absolute;
			@apply border border-solid border-gray-200 rounded-full;

			&:nth-child(1) {
				@apply size-[800px] -top-[644px] -left-[280px];
			}

			&:nth-child(2) {
				@apply size-[640px] top-[25vh] -right-[520px];
			}

			&:nth-child(3) {
				@apply size-[1000px] -bottom-[920px] left-[10vw];
			}
		}
	}

	> .header {
		@apply justify-between flex-nowrap;

		> .logo {
			@apply text-dark-600;

			.label {
				@apply heading-3;
			}
		}
	}

	> .content {
		@apply my-auto gap-12;
		@apply items-center justify-start;

		> .stepper {
			@apply flex flex-col items-center;
		}

		.section {
			@apply w-[480px];

			&.header {
				@apply gap-1;
				@apply items-stretch;

				> .heading {
					@apply text-center heading-2;
				}

				> .subheading {
					@apply text-center paragraph-sm;
				}
			}

			&.steps {
				@apply w-[800px];
				@apply mb-8;
			}

			&.inputs {
				@apply gap-4;
				@apply flex flex-col items-stretch;

				&:has(> .sectors) {
					@apply w-[1200px];
				}

				&:has(> .summary) {
					@apply w-[800px];
				}

				> .avatar {
					@apply self-center text-center;
					@apply flex flex-col items-center;

					> .input {
						@apply mt-4;
					}
				}

				> .sectors {
					@apply grid grid-cols-3 gap-4;
				}
			}

			&.action {
				@apply gap-2;

				> .button {
					@apply flex-auto;
				}
			}

			> .details {
				@apply p-4;
				@apply border bg-white border-gray-300 border-solid;
				@apply shadow-sm;

				> .avatar {
					@apply size-14;
				}

				> .column {
					@apply gap-2;

					> .heading {
						@apply heading-3;
					}

					> .row {
						@apply flex-nowrap gap-2;
						@apply text-dark-300;

						> .subheading {
							@apply paragraph-sm leading-tight;
						}
					}
				}
			}

			.prompt {
				@apply flex flex-row place-content-center items-baseline;
				@apply px-8 gap-1;

				> .text {
					@apply text-center paragraph-sm-g6;

					> .link {
						@apply text-sm leading-tight;
						@apply text-blue-600;
					}
				}
			}
		}

		form {
			@apply contents;
		}
	}
}
