.root {
	@apply w-screen h-screen;
	@apply items-stretch justify-center;
	@apply px-32 py-20 gap-8;

	> .header {
		@apply justify-between flex-nowrap;

		> .logo {
			@apply text-dark-600;

			.label {
				@apply heading-3;
			}
		}
	}

	> .content {
		@apply my-auto gap-8;
		@apply items-center justify-center;

		> .stepper {
			@apply flex flex-col items-center;
		}

		.section {
			@apply w-[480px];

			&.header {
				@apply gap-1;
				@apply items-stretch;

				> .heading {
					@apply text-center heading-2;
				}

				> .subheading {
					@apply text-center paragraph-sm;
				}
			}

			&.steps {
				@apply w-[800px];
				@apply mb-8;
			}

			&.inputs {
				@apply gap-4;
				@apply flex flex-col items-stretch;

				> .avatar {
					@apply self-center text-center;
					@apply flex flex-col items-center;

					> .input {
						@apply mt-4;
					}
				}
			}

			&.action {
				@apply gap-2;

				> .button {
					@apply flex-auto;
				}
			}

			> .details {
				@apply p-4;
				@apply border border-gray-300 border-solid;
				@apply shadow-sm;

				> .avatar {
					@apply size-14;
				}

				> .column {
					@apply gap-2;

					> .heading {
						@apply heading-3;
					}

					> .row {
						@apply flex-nowrap gap-2;
						@apply text-dark-300;

						> .subheading {
							@apply paragraph-sm leading-tight;
						}
					}
				}
			}

			.prompt {
				@apply flex flex-row place-content-center items-baseline;
				@apply px-8 gap-1;

				> .text {
					@apply text-center paragraph-sm-g6;

					> .link {
						@apply text-sm leading-tight;
						@apply text-blue-600;
					}
				}
			}
		}

		form {
			@apply contents;
		}
	}
}
