.root {
	@apply w-full;
	@apply items-stretch justify-center;
	@apply col-span-3 gap-0;
	@apply bg-white;
	@apply border border-solid border-gray-300;
	@apply transition-shadow duration-500;

	> .image {
		@apply relative;
		@apply h-40;
		@apply overflow-hidden;

		> img {
			@apply object-cover;
			@apply transition-transform duration-700;
		}

		> .overlay {
			@apply absolute -bottom-8 left-0 w-full h-full;
			@apply justify-center items-center;
			@apply opacity-25;
			@apply transition-all duration-1000;

			background-image: linear-gradient(
				to top,
				rgba(0, 0, 0, 0.8) 20%,
				rgba(0, 0, 0, 0) 100%
			);

			&.blurred {
				@apply opacity-100 bottom-0;

				backdrop-filter: blur(4px);

				> .text {
					@apply text-center uppercase tracking-[0.25rem] indent-1;
					@apply display-xl-w;
				}
			}
		}
	}

	> .meta {
		@apply h-8;
		@apply flex-nowrap;
		@apply gap-0 p-0;

		> .permits,
		> .category {
			@apply h-full;
			@apply rounded-none;
		}

		> .permits {
			@apply flex-auto;
			@apply display-xs-13-w normal-case;
		}
	}

	> .body {
		@apply gap-0;

		> .header {
			@apply p-4 gap-1;

			> .label {
				@apply flex-nowrap items-start;

				> .left {
					@apply flex-auto items-start;
					@apply gap-0;

					> .heading {
						@apply heading-3-b leading-snug;
					}

					> .company {
						@apply text-sm leading-tight;
						@apply text-blue-600;
					}
				}

				> .right {
					@apply items-end;
					@apply gap-1;

					> .action {
						@apply border-gray-400 text-dark-300;
					}
				}
			}

			> .badges {
				@apply gap-1 pb-2;
			}
		}

		.divider {
			@apply border-gray-200;
		}

		> .properties {
			@apply h-16;
			@apply flex-nowrap;
			@apply gap-0;

			background-image: repeating-linear-gradient(
				135deg,
				rgba(0, 0, 0, 0.01),
				rgba(0, 0, 0, 0.01) 20px,
				#0000 20px,
				#0000 40px
			);

			> .cell {
				@apply h-12;
				@apply px-4;
				@apply flex-[1_1_50%] items-center justify-center;
				@apply gap-0;

				&.row {
					@apply flex-row gap-4;
				}

				> .subtext {
					@apply paragraph-xs text-right uppercase;
				}

				.value {
					@apply numeric-md;
				}

				> .price {
					@apply gap-1 flex-nowrap;

					> .value {
						@apply numeric-lg;
					}
				}
			}
		}

		> .footer {
			@apply p-2 gap-2;
			@apply flex-nowrap;

			> .button {
				@apply w-full max-h-9;

				&.primary {
					@apply flex-[3_0_0%];
				}

				&.secondary {
					@apply flex-[2_0_0%];
				}
			}
		}
	}

	&:hover {
		@apply shadow-sm;

		> .image {
			> img {
				@apply scale-105;
			}

			> .overlay {
				@apply bottom-0;
			}
		}
	}
}

* {
	@mixin dark {
		.root {
			@apply border border-solid border-dark-400;

			> .image > .overlay {
				@apply opacity-50;

				&.blurred {
					@apply opacity-100;

					> .text {
						@apply !text-white/50;
					}
				}
			}

			> .meta {
				@apply border-y border-0 border-solid border-dark-400;

				> .permits {
					@apply !text-white;
				}
			}

			> .body {
				@apply bg-dark-600;

				> .header > .label > .right > .action {
					@apply border-dark-400 text-gray-300;
				}

				> .footer > .cell > .button {
					&.primary {
						@apply bg-white text-dark-600;

						&:hover {
							@apply bg-gray-200;
						}
					}

					&.secondary {
						@apply bg-dark-600 border-dark-400 text-white;

						&:hover {
							@apply bg-dark-700;
						}
					}
				}
			}
		}
	}
}
