.root {
	@apply w-[unset];
	@apply grid grid-cols-1 gap-3 mt-2;
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply mt-4;
			@apply grid-cols-2;
			@apply self-center;

			> .card {
				@apply min-w-[280px];
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
			@apply mt-8;
			@apply grid-cols-3;
		}
	}
	@mixin larger-than $mantine-breakpoint-3xl {
		.root {
			@apply mt-12;
		}
	}
}
