.root {
	@apply grid grid-cols-1 gap-2;
	@apply self-stretch;

	> .stat {
		@apply col-span-1;
	}

	> .banner {
		@apply col-span-1;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-md {
		.root {
			@apply grid-cols-6;

			> .stat {
				@apply col-span-3;
			}

			> .banner {
				@apply col-span-2;
			}
		}
	}
}
