.root {
	@apply transition-all duration-300;
	@apply border-0;

	&:hover {
		@apply shadow-xs;

		> .content > .image {
			> img {
				@apply scale-105;
			}

			> .overlay {
				@apply bottom-0;
			}
		}
	}

	&[data-checked='true']:not(.loading) {
		@apply shadow-xs;

		> .content > .details {
			@apply bg-dark-600 border-dark-400;

			> .label {
				> .title {
					@apply heading-3-b-w;
				}

				> .description {
					@apply paragraph-sm-w;
				}
			}
		}
	}

	&.horizontal > .content {
		@apply w-full;

		> .details {
			@apply flex-auto;
		}
	}

	&.fade {
		@apply opacity-40;

		&:hover {
			@apply opacity-60;
		}
	}

	&.loading {
		@apply pointer-events-none;
	}

	> .content {
		@apply h-full;
		@apply flex-auto;
		@apply gap-0;

		.image {
			@apply h-[160px] flex-shrink-0 self-stretch;
			@apply relative;
			@apply overflow-hidden;

			> .placeholder {
				@apply absolute top-0 left-0;
				@apply w-full h-full;
				@apply flex items-center justify-center;
				@apply bg-gray-100 text-gray-500;
				@apply border border-b-0 border-solid border-gray-300;
			}

			img {
				@apply object-cover object-center;
				@apply transition-transform duration-700;
			}

			> .overlay {
				@apply absolute -bottom-8 left-0 w-full h-full;
				@apply justify-center items-center;
				@apply opacity-25;
				@apply transition-all duration-1000;

				background-image: linear-gradient(
					to top,
					rgba(0, 0, 0, 0.8) 20%,
					rgba(0, 0, 0, 0) 100%
				);
			}
		}

		> .details {
			@apply h-full;
			@apply px-7 py-5;
			@apply flex-nowrap gap-4 items-start;
			@apply bg-white border border-solid border-gray-300;
			@apply transition-colors duration-300;

			> .label {
				@apply flex-auto;
				@apply gap-1;

				> .title {
					@apply heading-3-b;
				}

				> .description {
					@apply paragraph-sm;
				}
			}

			> .checkbox {
				@apply mt-4;
			}

			> .button {
				@apply flex-shrink-0;
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-xs {
		.root.horizontal > .content {
			@apply flex-row;

			.image {
				@apply w-[240px] h-[unset] min-h-[160px];
			}

			> .details {
				@apply items-center;
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root.horizontal > .content .image {
			@apply w-[320px];
		}
	}

	@mixin dark {
		.root {
			&[data-checked='true']:not(.loading) > .content > .details {
				@apply bg-white border-gray-300;
			}

			> .content {
				.image > .placeholder {
					@apply bg-dark-700 text-dark-300;
					@apply border-dark-400;
				}

				> .details {
					@apply bg-dark-600 border-dark-400;
				}
			}
		}
	}
}
