.root {
	@apply relative gap-4;

	> .content {
		@apply grid grid-cols-12 gap-8;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply gap-8;
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
		}
	}
	@mixin larger-than $mantine-breakpoint-xl {
		.root {
		}
	}
}
