@layer utilities {
	.bg-dot-lg {
	}

	.bg-stagger-lg {
		background-image: radial-gradient(var(--mantine-color-gray-2) 3%, transparent 3%),
			radial-gradient(var(--mantine-color-gray-2) 3%, transparent 3%);
		background-position:
			20px 20px,
			60px 60px;
		background-size: 80px 80px;
		@apply bg-white;
	}

	.bg-stagger-md {
		background-image: radial-gradient(var(--mantine-color-gray-2) 4%, transparent 4%),
			radial-gradient(var(--mantine-color-gray-2) 4%, transparent 4%);
		background-position:
			15px 15px,
			45px 45px;
		background-size: 60px 60px;
		@apply bg-white;
	}

	.bg-grid-lg {
		background-image: linear-gradient(90deg, var(--mantine-color-gray-1) 1px, transparent 1px),
			linear-gradient(180deg, var(--mantine-color-gray-1) 1px, transparent 1px);
		background-size: 60px 60px;
		background-position: 30px 30px;
		@apply bg-white;
	}

	.bg-grid-md {
		background-image: linear-gradient(90deg, var(--mantine-color-gray-1) 1px, transparent 1px),
			linear-gradient(180deg, var(--mantine-color-gray-1) 1px, transparent 1px);
		background-size: 40px 40px;
		background-position: 20px 20px;
		@apply bg-white;
	}

	.bg-grid-sm {
		background-image: linear-gradient(90deg, var(--mantine-color-gray-1) 1px, transparent 1px),
			linear-gradient(180deg, var(--mantine-color-gray-1) 1px, transparent 1px);
		background-size: 20px 20px;
		background-position: 10px 10px;
		@apply bg-white;
	}

	* {
		@mixin dark {
			.bg-stagger-lg {
				background-image: radial-gradient(var(--mantine-color-dark-4) 2%, transparent 2%),
					radial-gradient(var(--mantine-color-dark-4) 2%, transparent 2%);
				@apply bg-dark-700;
			}

			.bg-stagger-md {
				background-image: radial-gradient(var(--mantine-color-dark-4) 2%, transparent 2%),
					radial-gradient(var(--mantine-color-dark-4) 2%, transparent 2%);
				@apply bg-dark-700;
			}

			.bg-grid-lg {
				background-image: linear-gradient(
						90deg,
						var(--mantine-color-dark-6) 1px,
						transparent 1px
					),
					linear-gradient(180deg, var(--mantine-color-dark-6) 1px, transparent 1px);
				@apply bg-dark-700;
			}

			.bg-grid-md {
				background-image: linear-gradient(
						90deg,
						var(--mantine-color-dark-6) 1px,
						transparent 1px
					),
					linear-gradient(180deg, var(--mantine-color-dark-6) 1px, transparent 1px);
				@apply bg-dark-700;
			}

			.bg-grid-sm {
				background-image: linear-gradient(
						90deg,
						var(--mantine-color-dark-6) 1px,
						transparent 1px
					),
					linear-gradient(180deg, var(--mantine-color-dark-6) 1px, transparent 1px);
				@apply bg-dark-700;
			}
		}
	}
}
