@layer tw_base, mantine, mantine-datatable, typography, tw_components, tw_utilities;

/* import tailwind */
@import 'tailwindcss/base' layer(tw_base);
@import 'tailwindcss/components' layer(tw_components);
@import './mantine_reset.css' layer(tw_components);
@import 'tailwindcss/utilities' layer(tw_utilities);

/* import mantine */
@import '@mantine/core/styles.layer.css';
@import '@mantine/dates/styles.layer.css';
@import '@mantine/carousel/styles.layer.css';
@import '@mantine/notifications/styles.layer.css';
@import '@mantine/charts/styles.css';

:root {
	&[data-mantine-color-scheme='light'] {
		--shadow-color-1: rgba(0, 0, 0, 0.1);
		--shadow-color-2: rgba(0, 0, 0, 0.05);
	}
	&[data-mantine-color-scheme='dark'] {
		--shadow-color-1: rgba(255, 255, 255, 0.08);
		--shadow-color-2: rgba(255, 255, 255, 0.05);
	}
}

* {
	@mixin rtl {
		[class*='arrow'].tabler-icon,
		[class*='chevron'].tabler-icon {
			transform: scaleX(-1);
		}
	}

	@mixin dark {
		.mantine-TimePicker-control,
		.mantine-DateTimePicker-day,
		.mantine-MonthPickerInput-monthsListControl,
		.mantine-MonthPickerInput-yearsListControl {
			&[data-in-range='true'] {
				@apply bg-dark-400;
			}

			&[data-first-in-range='true'],
			&[data-last-in-range='true'],
			&[data-selected='true'],
			&[data-active='true'] {
				@apply bg-white text-dark-600;
			}
		}
	}
}

button,
a {
	@apply transition-all duration-150;
}
