@layer tw_base, mantine, typography, tw_components, tw_utilities;

/* import tailwind */
@import 'tailwindcss/base' layer(tw_base);
@import 'tailwindcss/components' layer(tw_components);
@import './mantine_reset.css' layer(tw_components);
@import 'tailwindcss/utilities' layer(tw_utilities);

/* import mantine */
@import '@mantine/core/styles.layer.css';

:root {
	&[data-mantine-color-scheme='light'] {
		--shadow-color-1: rgba(0, 0, 0, 0.1);
		--shadow-color-2: rgba(0, 0, 0, 0.05);
	}
	&[data-mantine-color-scheme='dark'] {
		--shadow-color-1: rgba(255, 255, 255, 0.08);
		--shadow-color-2: rgba(255, 255, 255, 0.05);
	}
}

* {
	@mixin rtl {
		[class*='arrow'].tabler-icon {
			transform: scaleX(-1);
		}
	}
}

button,
a {
	@apply transition-all duration-150;
}
