@layer tw_base, mantine, typography, tw_components, tw_utilities;

/* import tailwind */
@import 'tailwindcss/base' layer(tw_base);
@import 'tailwindcss/components' layer(tw_components);
@import 'tailwindcss/utilities' layer(tw_utilities);

/* import mantine */
@import '@mantine/core/styles.layer.css';

@layer typography {
	.heading-1 {
		@apply font-serif;
		@apply text-3xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.heading-2 {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.heading-3 {
		@apply font-serif;
		@apply text-lg;
		@apply font-semibold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.heading-4 {
		@apply font-serif;
		@apply text-sm;
		@apply font-semibold;
		@apply tracking-widest;
		@apply text-dark-300;
	}
	.heading-5 {
		@apply font-serif;
		@apply text-xs;
		@apply font-semibold;
		@apply tracking-widest;
		@apply text-dark-200;
		@apply uppercase;
	}

	.display-m {
		@apply font-sans;
		@apply text-base;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.display-s {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-200;
	}
	.display-xs {
		@apply font-sans;
		@apply text-xs;
		@apply font-semibold;
		@apply tracking-normal;
		@apply text-dark-300;
	}

	.paragraph-m {
		@apply font-sans;
		@apply text-base;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300;
	}
	.paragraph-s {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300;
	}
	.paragraph-xs {
		@apply font-sans;
		@apply text-xs;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300;
	}

	.numeric-xl {
		@apply font-sans;
		@apply text-2xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.numeric-l {
		@apply font-sans;
		@apply text-xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.numeric-m {
		@apply font-sans;
		@apply text-base;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-600;
	}
}
