@layer utilities {
	.heading-1 {
		@apply font-serif;
		@apply text-3xl;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.heading-2 {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.heading-2-w {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply text-white dark:text-dark-600;
	}
	.heading-3 {
		@apply font-serif;
		@apply text-lg;
		@apply font-semibold;
		@apply text-dark-600 dark:text-white;
	}
	.heading-3-b {
		@apply font-serif;
		@apply text-lg;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.heading-3-w {
		@apply font-serif;
		@apply text-lg;
		@apply font-semibold;
		@apply text-white dark:text-dark-600;
	}
	.heading-3-b-w {
		@apply font-serif;
		@apply text-lg;
		@apply font-bold;
		@apply text-white dark:text-dark-600;
	}
	.heading-4 {
		@apply font-serif;
		@apply text-sm;
		@apply font-semibold;
		@apply tracking-widest;
		@apply text-dark-300 dark:text-dark-50;
	}
	.heading-5 {
		@apply font-serif;
		@apply text-xs;
		@apply font-semibold;
		@apply tracking-widest;
		@apply text-dark-200 dark:text-dark-100;
		@apply uppercase;
	}

	.display-3xl {
		@apply font-sans;
		@apply text-7xl;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.display-3xl-w {
		@apply font-sans;
		@apply text-7xl;
		@apply font-bold;
		@apply text-white dark:text-dark-600;
	}
	.display-2xl {
		@apply font-sans;
		@apply text-5xl;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.display-2xl-w {
		@apply font-sans;
		@apply text-5xl;
		@apply font-bold;
		@apply text-white dark:text-dark-600;
	}
	.display-xl {
		@apply font-sans;
		@apply text-3xl;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.display-xl-w {
		@apply font-sans;
		@apply text-3xl;
		@apply font-bold;
		@apply text-white dark:text-dark-600;
	}
	.display-lg {
		@apply font-sans;
		@apply text-lg;
		@apply font-bold;
		@apply text-dark-600 dark:text-dark-50;
	}
	.display-lg-w {
		@apply font-sans;
		@apply text-lg;
		@apply font-bold;
		@apply text-dark-50 dark:text-dark-600;
	}
	.display-md {
		@apply font-sans;
		@apply text-base;
		@apply font-bold;
		@apply text-dark-600 dark:text-dark-50;
	}
	.display-md-15 {
		@apply font-sans;
		@apply font-bold;
		@apply text-dark-600 dark:text-dark-50;

		font-size: 15px;
		line-height: 22px;
	}
	.display-md-sb {
		@apply font-sans;
		@apply text-base;
		@apply font-semibold;
		@apply text-dark-600 dark:text-dark-50;
	}
	.display-md-d3 {
		@apply font-sans;
		@apply text-base;
		@apply font-bold;
		@apply text-dark-300 dark:text-dark-50;
	}
	.display-md-g6 {
		@apply font-sans;
		@apply text-base;
		@apply font-bold;
		@apply text-gray-600 dark:text-dark-200;
	}
	.display-md-sb-g6 {
		@apply font-sans;
		@apply text-base;
		@apply font-semibold;
		@apply text-gray-600 dark:text-dark-200;
	}
	.display-sm {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply text-dark-200 dark:text-dark-100;
	}
	.display-sm-15 {
		@apply font-sans;
		@apply font-bold;
		@apply text-dark-200 dark:text-dark-100;

		font-size: 15px;
		line-height: 22px;
	}
	.display-sm-sb {
		@apply font-sans;
		@apply text-sm;
		@apply font-semibold;
		@apply text-dark-200 dark:text-dark-100;
	}
	.display-sm-d3 {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply text-dark-300 dark:text-dark-50;
	}
	.display-sm-d6 {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply text-dark-600 dark:text-dark-50;
	}
	.display-sm-w {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply text-dark-50 dark:text-dark-600;
	}
	.display-sm-sb-d3 {
		@apply font-sans;
		@apply text-sm;
		@apply font-semibold;
		@apply text-dark-300 dark:text-dark-50;
	}
	.display-sm-sb-d6 {
		@apply font-sans;
		@apply text-sm;
		@apply font-semibold;
		@apply text-dark-600 dark:text-dark-50;
	}
	.display-sm-sb-w {
		@apply font-sans;
		@apply text-sm;
		@apply font-semibold;
		@apply text-dark-50 dark:text-dark-600;
	}
	.display-xs {
		@apply font-sans;
		@apply text-xs;
		@apply font-semibold;
		@apply text-dark-300 dark:text-dark-50;
	}
	.display-xs-13 {
		@apply font-sans;
		@apply font-semibold;
		@apply text-dark-300 dark:text-dark-50;

		font-size: 13px;
		line-height: 19px;
	}
	.display-xs-w {
		@apply font-sans;
		@apply text-xs;
		@apply font-semibold;
		@apply text-dark-50 dark:text-dark-600;
	}
	.display-xs-g6 {
		@apply font-sans;
		@apply text-xs;
		@apply font-semibold;
		@apply text-gray-600 dark:text-dark-200;
	}
	.display-xs-13-w {
		@apply font-sans;
		@apply font-semibold;
		@apply text-dark-50 dark:text-dark-600;

		font-size: 13px;
		line-height: 19px;
	}
	.display-xs-13-g6 {
		@apply font-sans;
		@apply font-semibold;
		@apply text-gray-600 dark:text-dark-200;

		font-size: 13px;
		line-height: 19px;
	}
	.display-2xs {
		@apply font-sans;
		@apply text-[0.625rem];
		@apply font-semibold;
		@apply text-dark-300 dark:text-dark-50;
	}

	.paragraph-lg {
		@apply font-sans;
		@apply text-lg;
		@apply font-normal;
		@apply text-dark-300 dark:text-dark-50;
	}
	.paragraph-lg-w {
		@apply font-sans;
		@apply text-lg;
		@apply font-normal;
		@apply text-dark-50 dark:text-dark-600;
	}
	.paragraph-md {
		@apply font-sans;
		@apply text-base;
		@apply font-normal;
		@apply text-dark-300 dark:text-dark-50;
	}
	.paragraph-md-g3 {
		@apply font-sans;
		@apply text-base;
		@apply font-normal;
		@apply text-gray-300 dark:text-dark-50;
	}
	.paragraph-md-w {
		@apply font-sans;
		@apply text-base;
		@apply font-normal;
		@apply text-dark-50 dark:text-dark-600;
	}
	.paragraph-sm {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply text-dark-300 dark:text-dark-50;
	}
	.paragraph-sm-15 {
		@apply font-sans;
		@apply font-normal;
		@apply text-dark-300 dark:text-dark-50;

		font-size: 15px;
		line-height: 22px;
	}
	.paragraph-sm-w {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply text-dark-50 dark:text-dark-600;
	}
	.paragraph-sm-15-w {
		@apply font-sans;
		@apply font-normal;
		@apply text-dark-50 dark:text-dark-600;

		font-size: 15px;
		line-height: 22px;
	}
	.paragraph-sm-g3 {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply text-gray-300 dark:text-dark-50;
	}
	.paragraph-sm-15-g3 {
		@apply font-sans;
		@apply font-normal;
		@apply text-gray-300 dark:text-dark-50;

		font-size: 15px;
		line-height: 22px;
	}
	.paragraph-sm-g5 {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply text-gray-500 dark:text-dark-200;
	}
	.paragraph-sm-g6 {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply text-gray-600 dark:text-dark-200;
	}
	.paragraph-xs {
		@apply font-sans;
		@apply text-xs;
		@apply font-normal;
		@apply text-dark-300 dark:text-dark-50;
	}

	.numeric-xl {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.numeric-xl-n {
		@apply font-serif;
		@apply text-2xl;
		@apply font-normal;
		@apply text-dark-600 dark:text-white;
	}
	.numeric-xl-w {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply text-white dark:text-dark-600;
	}
	.numeric-xl-n-w {
		@apply font-serif;
		@apply text-2xl;
		@apply font-normal;
		@apply text-white dark:text-dark-600;
	}
	.numeric-lg {
		@apply font-serif;
		@apply text-xl;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.numeric-lg-w {
		@apply font-serif;
		@apply text-xl;
		@apply font-bold;
		@apply text-white dark:text-dark-600;
	}
	.numeric-md {
		@apply font-serif;
		@apply text-lg;
		@apply font-bold;
		@apply text-dark-600 dark:text-white;
	}
	.numeric-md-w {
		@apply font-serif;
		@apply text-lg;
		@apply font-bold;
		@apply text-white dark:text-dark-300;
	}
	.numeric-sm {
		@apply font-serif;
		@apply text-base;
		@apply font-semibold;
		@apply text-dark-300 dark:text-dark-50;
	}
	.numeric-sm-n {
		@apply font-serif;
		@apply text-base;
		@apply font-normal;
		@apply text-dark-300 dark:text-dark-50;
	}
	.numeric-sm-n-w {
		@apply font-serif;
		@apply text-base;
		@apply font-normal;
		@apply text-dark-50 dark:text-dark-300;
	}
}
