@layer utilities {
	.heading-1 {
		@apply font-serif;
		@apply text-3xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.heading-2 {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.heading-3 {
		@apply font-serif;
		@apply text-lg;
		@apply font-semibold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.heading-4 {
		@apply font-serif;
		@apply text-sm;
		@apply font-semibold;
		@apply tracking-widest;
		@apply text-dark-300;
	}
	.heading-5 {
		@apply font-serif;
		@apply text-xs;
		@apply font-semibold;
		@apply tracking-widest;
		@apply text-dark-200;
		@apply uppercase;
	}

	.display-md {
		@apply font-sans;
		@apply text-base;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.display-sm {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-200;
	}
	.display-xs {
		@apply font-sans;
		@apply text-xs;
		@apply font-semibold;
		@apply tracking-normal;
		@apply text-dark-300;
	}

	.paragraph-md {
		@apply font-sans;
		@apply text-base;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300;
	}
	.paragraph-sm {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300;
	}
	.paragraph-xs {
		@apply font-sans;
		@apply text-xs;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300;
	}

	.numeric-xl {
		@apply font-sans;
		@apply text-2xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.numeric-lg {
		@apply font-sans;
		@apply text-xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600;
	}
	.numeric-md {
		@apply font-sans;
		@apply text-base;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-600;
	}
}
