@layer utilities {
	.heading-1 {
		@apply font-serif;
		@apply text-3xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.heading-2 {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.heading-3 {
		@apply font-serif;
		@apply text-lg;
		@apply font-semibold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.heading-4 {
		@apply font-serif;
		@apply text-sm;
		@apply font-semibold;
		@apply tracking-widest;
		@apply text-dark-300 dark:text-dark-50;
	}
	.heading-5 {
		@apply font-serif;
		@apply text-xs;
		@apply font-semibold;
		@apply tracking-widest;
		@apply text-dark-200 dark:text-dark-100;
		@apply uppercase;
	}

	.display-lg {
		@apply font-sans;
		@apply text-lg;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.display-md {
		@apply font-sans;
		@apply text-base;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.display-md-15 {
		@apply font-sans;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;

		font-size: 15px;
		line-height: 22px;
	}
	.display-md-sb {
		@apply font-sans;
		@apply text-base;
		@apply font-semibold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.display-md-d3 {
		@apply font-sans;
		@apply text-base;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-300 dark:text-dark-50;
	}
	.display-md-g6 {
		@apply font-sans;
		@apply text-base;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-gray-600 dark:text-dark-200;
	}
	.display-md-sb-g6 {
		@apply font-sans;
		@apply text-base;
		@apply font-semibold;
		@apply tracking-normal;
		@apply text-gray-600 dark:text-dark-200;
	}
	.display-sm {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-200 dark:text-dark-100;
	}
	.display-sm-d6 {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-300 dark:text-dark-50;
	}
	.display-sm-d6 {
		@apply font-sans;
		@apply text-sm;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.display-xs {
		@apply font-sans;
		@apply text-xs;
		@apply font-semibold;
		@apply tracking-normal;
		@apply text-dark-300 dark:text-dark-50;
	}

	.paragraph-md {
		@apply font-sans;
		@apply text-base;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300 dark:text-dark-50;
	}
	.paragraph-sm {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300 dark:text-dark-50;
	}
	.paragraph-sm-g6 {
		@apply font-sans;
		@apply text-sm;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-gray-600 dark:text-dark-200;
	}
	.paragraph-xs {
		@apply font-sans;
		@apply text-xs;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-300 dark:text-dark-50;
	}

	.numeric-xl {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}

	.numeric-xl {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.numeric-xl-n {
		@apply font-serif;
		@apply text-2xl;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.numeric-xl-w {
		@apply font-serif;
		@apply text-2xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-white dark:text-dark-600;
	}
	.numeric-xl-n-w {
		@apply font-serif;
		@apply text-2xl;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-white dark:text-dark-600;
	}
	.numeric-lg {
		@apply font-serif;
		@apply text-xl;
		@apply font-bold;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
	.numeric-md {
		@apply font-serif;
		@apply text-base;
		@apply font-normal;
		@apply tracking-normal;
		@apply text-dark-600 dark:text-white;
	}
}
