.root {
	@apply gap-6;

	> .header {
		@apply gap-2;

		> .row {
			@apply flex-nowrap gap-8 justify-between items-center;

			> .label {
				@apply gap-3 flex-nowrap items-baseline;

				> .title {
					@apply heading-1;
				}

				> .subtitle {
					@apply paragraph-sm-g6;
				}
			}

			> .settings {
				@apply gap-2;

				> .label {
					@apply paragraph-sm;
				}

				> .dropdown {
					@apply flex-auto;

					input {
						@apply h-8 min-h-[unset];
					}
				}

				> .button {
					@apply size-8;
				}
			}

			> .filters {
				@apply gap-2;

				> .label {
					@apply paragraph-sm;
				}

				> .badge {
					@apply bg-gray-200 text-dark-600;
				}
			}

			> .legend {
				@apply gap-4;

				> .cell {
					@apply gap-2;

					> .key {
						@apply size-4 rounded-sm border border-solid;

						&.blue {
							@apply bg-blue-100 border-blue-300;
						}

						&.yellow {
							@apply bg-yellow-100 border-yellow-300;
						}

						&.gray {
							@apply bg-gray-100 border-gray-300;
						}
					}

					> .value {
						@apply paragraph-xs;
					}
				}
			}
		}
	}
}
