.root {
	@apply gap-6;

	> .header {
		@apply gap-2;

		> .row {
			@apply flex-nowrap gap-8 justify-between items-center;

			> .label {
				@apply flex-col gap-0 items-baseline;

				> .title {
					@apply heading-1;
				}

				> .subtitle {
					@apply paragraph-sm-g6;
				}
			}

			> .settings {
				@apply gap-2 flex-nowrap;

				> .label {
					@apply hidden paragraph-sm;
				}

				> .dropdown {
					@apply flex-auto;

					input {
						@apply h-8 min-h-[unset];
					}
				}

				> .button {
					@apply size-8;
				}
			}

			> .filters {
				@apply gap-2;

				> .label {
					@apply paragraph-sm;
				}

				> .badges > .badge {
					@apply bg-gray-200 text-dark-600;
				}
			}

			&:last-child {
				@apply flex-col gap-2;
			}
		}
	}

	> .table {
		@apply relative;
		@apply flex-1 gap-0 overflow-y-auto;

		&:has(.placeholder) {
			@apply bg-gray-50;
		}

		.placeholder {
			@apply h-[90%];
			@apply items-center justify-center;

			> .icon {
				@apply size-11 rounded-full bg-gray-100 text-gray-500;
				@apply flex justify-center items-center;
			}

			> .text {
				@apply paragraph-sm-g6;
			}
		}

		tr {
			&.mine {
				@apply bg-gray-50;
			}

			> .firm {
				@apply flex flex-row items-center justify-between gap-2;

				> .anchor {
					@apply max-w-[160px];
					@apply truncate;
				}

				> .badges {
					@apply gap-1 flex-nowrap;

					> .mine {
						@apply text-dark-300;
					}

					> .contributing {
						@apply text-blue-600;
					}

					> .winning {
						@apply text-yellow-600;
					}
				}
			}
		}

		th,
		td {
			&:nth-child(1) {
				@apply min-w-[120px];
			}

			&:nth-child(2) {
				@apply min-w-[160px];
			}

			&:nth-child(3) {
				@apply min-w-[80px];
			}

			&:nth-child(4) {
				@apply min-w-[160px];
			}

			&:nth-child(5) {
				@apply min-w-[120px];
			}
		}
	}

	> .footer {
		@apply justify-center items-center flex-nowrap gap-4;

		&:has(.legend) {
			@apply justify-between;
		}

		> .pagination {
			@apply gap-2 justify-center;

			> .button {
				@apply size-8 border-gray-300;
			}
		}

		> .row {
			@apply gap-4 items-center;
		}
	}

	.legend {
		@apply gap-4;

		> .cell {
			@apply gap-2;

			> .icon {
				&.mine {
					@apply text-dark-300;
				}

				&.contributing {
					@apply text-blue-600;
				}

				&.winning {
					@apply text-yellow-600;
				}
			}

			> .value {
				@apply paragraph-xs;
			}
		}
	}
}

.filterMenu {
	@apply px-6 py-4;

	.label {
		@apply display-md-sb mb-4;
	}

	.options {
		@apply gap-4;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-xs {
		.root > .header > .row:last-child {
			@apply flex-row gap-8;
		}
	}
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .header > .row {
			> .label {
				@apply flex-row gap-3;
			}

			> .settings > .label {
				@apply block;
			}
		}
	}

	@mixin dark {
		.root {
			> .header > .row {
				> .settings > .dropdown input,
				> .settings > .button {
					@apply bg-dark-700 border-dark-400 text-white;

					&:hover {
						@apply bg-dark-600;
					}
				}

				> .filters > .badges > .badge {
					@apply bg-dark-500 text-dark-100;
				}
			}

			> .table {
				&:has(.placeholder) {
					@apply bg-dark-600;
				}

				.placeholder {
					@apply bg-dark-600;
				}

				tr {
					&.mine {
						@apply bg-dark-600;
					}

					> .firm {
						> .anchor {
							@apply text-dark-50;
						}

						> .badges > .mine {
							@apply text-dark-50;
						}
					}
				}
			}

			> .footer {
				> .pagination > .button {
					@apply bg-dark-700 border-dark-400 text-white;

					&:hover {
						@apply bg-dark-600;
					}

					&:disabled {
						@apply bg-dark-600;
						@apply opacity-40;
					}
				}

				> .row > .button {
					@apply bg-dark-700 border-dark-400 text-white;

					&:hover {
						@apply bg-dark-600;
					}
				}
			}

			.legend > .cell > .icon.mine {
				@apply text-dark-50;
			}
		}
	}
}
