.root {
	@apply gap-6;

	> .header {
		@apply gap-2;

		> .row {
			@apply flex-nowrap gap-8 justify-between items-center;

			> .label {
				@apply gap-3 flex-nowrap items-baseline;

				> .title {
					@apply heading-1;
				}

				> .subtitle {
					@apply paragraph-sm-g6;
				}
			}

			> .settings {
				@apply gap-2;

				> .label {
					@apply paragraph-sm;
				}

				> .dropdown {
					@apply flex-auto;

					input {
						@apply h-8 min-h-[unset];
					}
				}

				> .button {
					@apply size-8;
				}
			}

			> .filters {
				@apply gap-2;

				> .label {
					@apply paragraph-sm;
				}

				> .badge {
					@apply bg-gray-200 text-dark-600;
				}
			}
		}
	}

	> .table {
		@apply flex-1 overflow-y-auto;

		.placeholder {
			@apply h-[90%];
			@apply items-center justify-center;
			@apply bg-gray-50;

			> .icon {
				@apply size-11 rounded-full bg-gray-100 text-gray-500;
				@apply flex justify-center items-center;
			}

			> .text {
				@apply paragraph-sm-g6;
			}
		}

		tr {
			&.mine {
				@apply bg-gray-50;
			}

			> .firm {
				@apply flex flex-row items-center justify-between;

				> .badges {
					@apply gap-1 flex-nowrap;

					> .mine {
						@apply text-dark-300;
					}

					> .contributing {
						@apply text-blue-600;
					}

					> .winning {
						@apply text-yellow-600;
					}
				}
			}
		}
	}

	> .footer {
		@apply justify-center items-center flex-nowrap gap-4;

		&:has(.legend) {
			@apply justify-between;
		}

		> .pagination {
			@apply gap-2 justify-center;

			> .button {
				@apply size-8 border-gray-300;
			}
		}

		> .row {
			@apply gap-4 items-center;
		}
	}

	.legend {
		@apply gap-4;

		> .cell {
			@apply gap-2;

			> .icon {
				&.mine {
					@apply text-dark-300;
				}

				&.contributing {
					@apply text-blue-600;
				}

				&.winning {
					@apply text-yellow-600;
				}
			}

			> .value {
				@apply paragraph-xs;
			}
		}
	}
}

.filterMenu {
	@apply px-6 py-4;

	.label {
		@apply display-md-sb mb-4;
	}

	.options {
		@apply gap-4;
	}
}
