.cycle {
  @apply col-span-12 border border-gray-300 border-solid justify-between items-center;
  > .endTime {
    @apply px-20 mr-10 border-r border-y-transparent border-l-transparent border-solid border-gray-300 h-full items-center justify-center gap-0;
    > .text {
      @apply paragraph-sm-g6 uppercase text-center;
    }
    > .countdown {
      @apply w-fit;
    }
  }
  > .details {
    @apply flex-1;
    > .title {
      @apply heading-2;
    }
    > .description {
      @apply paragraph-md;
    }
  }
  > .auctions {
    @apply flex-1 justify-end;
  }
}