.root {
	@apply relative;

	> .body {
		@apply flex-col gap-4 flex-nowrap items-stretch;

		> .content {
			@apply flex-auto;

			> .header {
				@apply flex-col p-4 gap-4 flex-nowrap items-start;
				@apply bg-white border border-solid border-gray-300;
				@apply transition-shadow duration-500;

				> .label {
					@apply gap-0 items-start;

					> .title {
						@apply heading-2;
					}

					> .subtitle {
						@apply paragraph-md text-pretty;
					}

					> .bidders {
						@apply mt-2;
						@apply display-md-sb;
					}
				}

				&:hover {
					@apply shadow-xs;
				}
			}
		}

		> .sidebar {
			@apply gap-0 items-stretch flex-shrink-0;
			@apply transition-shadow duration-500;

			> .minBid {
				@apply justify-between flex-nowrap;
				@apply gap-4 px-6 py-4;
				@apply bg-white border border-solid border-gray-300;

				> .content {
					@apply gap-1;

					> .key {
						@apply paragraph-sm-15;
					}

					> .value {
						@apply gap-1;

						> .amount {
							@apply numeric-lg;
						}
					}

					> .subtext {
						@apply paragraph-sm-g6;

						b {
							@apply text-dark-600;
						}
					}
				}
			}

			> .minIncrement {
				@apply flex-nowrap gap-4 justify-between px-6 py-2;
				@apply bg-white border border-t-0 border-solid border-gray-300;

				> .key {
					@apply paragraph-sm-15;
				}

				> .value {
					@apply gap-1;

					> .amount {
						@apply numeric-lg;
					}
				}
			}

			> .bids {
				@apply flex-nowrap gap-2 p-4;
				@apply border border-t-0 border-solid border-gray-300;

				.indicator {
					@apply flex-auto;

					> .button {
						@apply bg-white w-full h-9;
					}
				}
			}

			> .insertForm {
				@apply px-12 py-8 gap-6 items-stretch;
				@apply bg-dark-600 border border-t-0 border-solid border-dark-400;

				> .header {
					@apply gap-1;

					> .row {
						@apply justify-between flex-nowrap;

						> .title {
							@apply heading-2-w uppercase tracking-widest;
						}

						> .dots {
							@apply items-center justify-center;
							@apply flex-nowrap;
							@apply gap-4;
							@apply text-dark-50;
						}
					}

					> .description {
						@apply paragraph-md-g3;
					}
				}

				> .error .list {
					@apply text-dark-50;
				}

				> form {
					@apply contents;

					> .inputs {
						@apply gap-2 items-stretch flex-nowrap;

						> .section {
							@apply gap-2 justify-between;
							@apply text-dark-50;

							> .key {
								@apply gap-2;

								> .icon {
									@apply text-dark-50;
								}

								> .label {
									@apply paragraph-md-w;
								}
							}

							> .value {
								@apply w-40 text-center paragraph-md-w;
							}
						}
					}

					> .summary {
						@apply gap-2 mt-4;

						> .row {
							@apply flex-nowrap justify-between;

							> .text {
								@apply paragraph-lg-w;
							}

							> .cell {
								@apply gap-2;

								> .badge {
									@apply bg-dark-400;
									@apply text-dark-100;
								}

								> .value {
									@apply numeric-md-w;
								}
							}
						}

						> .button {
							@apply bg-white text-dark-600;

							&[data-disabled='true'] {
								@apply bg-dark-400 text-dark-200;
							}
						}

						> .subtext {
							@apply paragraph-sm-g5 text-center;
						}
					}
				}
			}

			&:hover {
				@apply shadow-xs;
			}
		}
	}

	> .footer {
		@apply p-4 gap-4;
		@apply flex-col flex-nowrap items-stretch;
		@apply bg-white border border-solid border-gray-300;
		@apply transition-shadow duration-500;

		> .content {
			@apply grid grid-cols-2 grid-rows-2;
			@apply flex-auto;
			@apply gap-0 items-center justify-center flex-nowrap;

			> .cell {
				@apply gap-1 items-baseline;

				> .value {
					@apply numeric-md;
				}

				> .unit {
					@apply paragraph-sm;
				}

				&:last-child {
					@apply items-end justify-self-end;

					p {
						@apply text-right;
					}
				}
			}

			> .slider {
				@apply row-start-2 col-span-2;
				@apply flex-auto pointer-events-none;

				.thumb {
					@apply hidden;
				}
			}
		}

		> .summary {
			@apply gap-4 flex-nowrap;

			> .total {
				@apply gap-2;

				> .value {
					@apply numeric-lg;
				}
			}

			> .cta {
				@apply flex-auto h-10;
				@apply bg-green-600;
				@apply uppercase;

				&[data-disabled='true'] {
					@apply bg-gray-200;
				}
			}
		}

		&:hover {
			@apply shadow-xs;
		}
	}
}

.overlay {
	@apply absolute top-0 left-0;
	@apply w-full h-full;
	@apply p-4 justify-center items-center;
	@apply z-10;

	> .background {
		@apply absolute top-0 left-0;
		@apply w-full h-full;
		@apply bg-black/30;
		@apply -z-10;

		backdrop-filter: blur(4px);
	}

	> .content {
		@apply sticky top-32 bottom-32;
		@apply items-center;
		@apply gap-2 px-12 py-8;
		@apply bg-white;

		&.square {
			@apply size-60 justify-center;
		}

		> .loader {
			@apply mb-4;
		}

		> .title {
			@apply text-center heading-2;
		}

		> .description {
			@apply text-center paragraph-sm;
		}

		> .button {
			@apply w-[200px] mt-4;
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			> .body > .content > .header {
				@apply flex-row gap-16 px-6;
				@apply items-center justify-between;
			}

			> .footer > .content {
				@apply flex gap-4;
			}
		}

		.overlay {
			@apply p-16;

			> .content {
				@apply w-[600px];
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root > .body > .content > .header {
			@apply px-8 py-6;
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			> .body {
				@apply flex-row;

				> .sidebar {
					@apply w-[480px];
				}
			}

			> .footer {
				@apply px-8 gap-8 flex-row;

				> .summary {
					@apply gap-8;

					> .cta {
						@apply w-[360px];
					}
				}
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-xl {
		.root > .body > .content > .header {
			@apply gap-32;
		}
	}

	@mixin dark {
		.root {
			> .body {
				> .content > .header {
					@apply bg-dark-600 border-dark-400;

					> .label > .bidders {
						@apply text-white;
					}
				}

				> .sidebar {
					> .minBid,
					> .minIncrement,
					> .bids {
						@apply bg-dark-600 border-dark-400;
					}

					> .minBid {
						> .content > .subtext b {
							@apply text-white;
						}

						> .sparkline {
							--chart-color: #ffffff !important;
						}
					}

					> .bids .indicator > .button {
						@apply bg-dark-600 border-dark-400 text-white;

						&:hover {
							@apply bg-dark-500;
						}
					}

					> .insertForm {
						> .header > .row {
							> .title {
								@apply !text-white;
							}
						}

						> form {
							> .inputs > .section {
								> .key > .label {
									@apply !text-dark-50;
								}

								> .value {
									@apply !text-dark-50;
								}
							}

							> .summary {
								> .row {
									> .text {
										@apply !text-dark-50;
									}

									> .cell > .value {
										@apply !text-white;
									}
								}

								> .button {
									@apply bg-dark-400 text-white;

									&:hover {
										@apply bg-dark-300;
									}
								}
							}
						}
					}
				}
			}

			> .footer {
				@apply bg-dark-600 border-dark-400;

				> .content > .slider {
					.bar {
						@apply bg-dark-300;
					}

					.mark {
						@apply border-dark-300;
					}
				}

				> .summary > .cta[data-disabled='true'] {
					@apply bg-dark-500;
				}
			}
		}

		.overlay {
			> .background {
				@apply bg-black/10;
			}

			> .content {
				@apply bg-dark-600;

				> .button {
					@apply bg-dark-400 text-white;

					&:hover {
						@apply bg-dark-300;
					}
				}
			}
		}
	}
}
