.card {
  @apply relative;
	@apply justify-between items-stretch self-stretch;
	@apply overflow-hidden flex-nowrap;
	@apply py-6 px-8 gap-0;
	@apply bg-white border border-solid border-gray-300 text-dark-600;
	@apply transition-all duration-500;

	&.mid {
		@apply py-4 px-6;
	}
  > .header {
    > .title {
			@apply display-md-sb-g6;
			@apply truncate;
			@apply mb-1;
		}
    > .icon {
			@apply text-gray-500 flex-shrink-0;
		}
  }
  > .icon {
    @apply size-20;
    @apply absolute -bottom-2 -right-2;
    @apply text-gray-100;
    @apply mix-blend-multiply;
  }
}