.root {
	@apply w-screen h-screen;
	@apply flex-nowrap place-content-center items-center gap-0;

	> .bg {
		@apply absolute top-0 left-0 size-full;
		@apply hidden;
		@apply -z-10;

		> img {
			@apply object-cover object-center;
			@apply brightness-75;
		}

		> .overlay {
			@apply absolute left-0 top-0 size-full;
			@apply bg-gradient-to-b from-transparent from-25% to-black opacity-50;
		}
	}

	> .panel {
		@apply w-full;
		@apply items-stretch justify-center flex-nowrap overflow-y-auto;
		@apply gap-8 px-4;
		@apply border-gray-300 bg-white;

		.section {
			@apply flex flex-col items-stretch;

			.link {
				@apply text-sm leading-tight;
				@apply text-blue-600;
			}

			&.header {
				@apply items-center gap-1;

				> .row {
					@apply self-stretch mb-8;

					> .return {
						@apply mr-auto;
					}

					> .actions {
						@apply ml-auto;
					}
				}

				> .heading {
					@apply text-center heading-2;
				}

				> .subheading {
					@apply text-center paragraph-sm;
				}
			}

			&.inputs {
				@apply gap-2 items-stretch;

				> .otp {
					@apply justify-center items-center gap-2;

					> .input {
						@apply w-12 h-16;

						input {
							@apply h-full;
							@apply bg-gray-100 border-none;
							@apply display-lg;
						}
					}
				}

				> .row {
					@apply justify-between mt-2;
				}
			}

			&.action {
				@apply gap-2;
			}

			&.map {
				@apply bg-gray-100;
			}

			.prompt {
				@apply flex flex-row place-content-center items-baseline;
				@apply px-8 gap-1;

				> .text {
					@apply text-center paragraph-sm-g6;
				}
			}
		}

		form {
			@apply contents;
		}

		> .row {
			@apply flex-nowrap items-stretch gap-8;

			.section {
				@apply flex-1;
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply px-16;

			> .bg {
				@apply block;
			}

			> .panel {
				@apply max-h-[95vh] w-[480px];
				@apply px-8 py-12;
				@apply border shadow-md;

				&:has(.register) {
					@apply w-[800px];
				}
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			@apply items-end;

			> .panel {
				@apply min-h-[60vh];
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-xl {
		.root {
			@apply px-32;
		}
	}
	@mixin larger-than $mantine-breakpoint-3xl {
		.root {
			@apply items-center;
		}
	}
}
