.root {
	@apply grid grid-cols-12 gap-8;

	> .banners {
		@apply grid grid-cols-12 gap-4;
		@apply col-span-full;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply gap-x-8 gap-y-16;
		}
	}
}
