.root {
	@apply grid grid-cols-12 gap-4;

	> .banner {
		@apply h-[360px] max-w-none;
		@apply flex flex-col justify-center items-center;
		@apply col-span-full;
		@apply py-16;
		@apply border border-solid border-gray-300;

		> .subheading {
			@apply display-md-sb-g6 uppercase;
		}

		> .heading {
			@apply heading-1;
		}

		> .countdown {
			@apply mt-8 mb-12;
		}

		> .actions {
			@apply h-9;
			@apply flex justify-center items-center;
			@apply gap-2;

			> .primary:hover {
				@apply bg-dark-400;
			}

			> .secondary {
				@apply size-9;
				@apply bg-white;

				&:hover {
					@apply bg-gray-100;
				}
			}
		}

		> .bg > .gradient {
			@apply top-0 left-0 h-full;

			&:first-child {
				background: radial-gradient(
					at left top,
					rgba(138, 21, 56, 0.1) 0%,
					hsla(342, 74%, 80%, 0) 50%
				);
			}

			&:last-child {
				background: radial-gradient(
					at right bottom,
					rgba(128, 103, 164, 0.1) 0%,
					hsla(202, 76%, 80%, 0) 50%
				);
			}
		}
	}

	> .subbanner {
		@apply h-auto;
		@apply flex flex-col justify-center items-center;
		@apply col-span-full;
		@apply py-4 px-8;
		@apply border border-solid border-gray-300;
		@apply transition-all duration-500;

		> .heading {
			@apply mt-2;
			@apply display-md-15 text-center;

			> mark {
				@apply text-maroon-600 bg-transparent;
			}
		}

		> .text {
			@apply paragraph-sm text-center;
		}

		> .bg {
			> .gradient {
				@apply h-[50%] -top-4;
				@apply transition-all duration-500;
			}

			> .graphic {
				@apply absolute;
			}
		}

		&:hover {
			@apply shadow-md;

			.gradient {
				@apply !top-0;
			}
		}

		&:nth-of-type(1) > .bg {
			> .gradient {
				background: radial-gradient(
					at center top,
					rgba(0, 156, 128, 0.15) 0%,
					hsla(169, 100%, 80%, 0) 75%
				);
			}

			> .graphic {
				@apply border border-solid border-gray-200 rounded-full;

				&:nth-child(1) {
					@apply size-[190px] top-[54px] -left-[60px];
				}

				&:nth-child(2) {
					@apply size-[360px] -top-[300px] left-[200px];
				}

				&:nth-child(3) {
					@apply size-[190px] -top-[140px] left-[300px];
				}
			}
		}

		&:nth-of-type(2) > .bg {
			> .gradient {
				background: radial-gradient(
					at center top,
					rgba(233, 197, 107, 0.25) 0%,
					hsla(43, 74%, 80%, 0) 75%
				);
			}

			> .graphic {
				@apply w-full h-[200px] -bottom-[160px];
			}
		}

		&:nth-of-type(3) > .bg {
			> .gradient {
				background: radial-gradient(
					at center top,
					rgba(65, 148, 179, 0.2) 0%,
					hsla(196, 47%, 80%, 0) 75%
				);
			}

			> .graphic {
				@apply size-[300px];
				@apply stroke-gray-200;

				&:nth-child(1) {
					@apply -top-[250px] -left-[92px];
					@apply rotate-[40deg];
				}

				&:nth-child(2) {
					@apply -top-[206px] -right-[250px];
					@apply rotate-[107deg];
				}
			}
		}
	}

	> .banner,
	> .subbanner {
		@apply relative;
		@apply overflow-hidden;

		> *:not(.bg) {
			@apply z-10;
		}

		> .bg {
			@apply absolute top-0 left-0;
			@apply w-full h-full max-w-none;
			@apply pointer-events-none;

			> .gradient {
				@apply absolute;
				@apply w-full;
			}
		}
	}
}

* {
	@mixin dark {
		.root {
			> .banner {
				@apply border-dark-400;

				> .actions {
					> .primary {
						@apply bg-white text-dark-600;

						&:hover {
							@apply bg-gray-200;
						}
					}

					> .secondary {
						@apply bg-dark-700 border-dark-400 text-white;

						&:hover {
							@apply bg-dark-600;
						}
					}
				}
			}

			> .subbanner {
				@apply border-dark-400;

				> .heading > mark {
					@apply text-maroon-300;
				}

				.graphic {
					@apply !border-dark-500 !stroke-dark-500;
				}

				&:nth-of-type(1) > .bg > .gradient {
					background: radial-gradient(
						at center top,
						rgba(0, 156, 128, 0.2) 0%,
						hsla(169, 100%, 80%, 0) 75%
					);
				}

				&:nth-of-type(2) > .bg > .gradient {
					background: radial-gradient(
						at center top,
						rgba(233, 197, 107, 0.15) 0%,
						hsla(43, 74%, 80%, 0) 75%
					);
				}

				&:nth-of-type(3) > .bg > .gradient {
					background: radial-gradient(
						at center top,
						rgba(65, 148, 179, 0.25) 0%,
						hsla(196, 47%, 80%, 0) 75%
					);
				}
			}
		}
	}

	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			> .subbanner {
				@apply col-span-4;
			}
		}
	}
}
