.root {
	@apply grid grid-cols-12 gap-4;

	> .banners {
		@apply grid grid-cols-12 gap-4;
		@apply col-span-full;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply gap-6;
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
			@apply gap-8;
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			@apply gap-y-12;
		}
	}
}
