.root {
	@apply w-[440px] min-h-0;
	@apply flex-shrink-0;
	/* TODO: remove top padding once dashboard header is done */
	@apply pt-20;
	@apply bg-white border border-solid border-gray-300;
	@apply transition-shadow duration-300;

	> .tabs {
		@apply min-h-0;
		@apply flex-auto;
		@apply flex flex-col gap-0;

		> .panel {
			@apply min-h-0;
			@apply flex-auto;
			@apply overflow-y-auto;
		}
	}

	&:hover {
		@apply shadow-xs;
	}
}
