.root {
	> .inner > .content {
		@apply p-6;
		@apply justify-center items-center;

		min-width: calc(100vw - 16px);

		> .body {
			@apply flex flex-col items-stretch justify-center;
			@apply gap-2 p-0;

			> .title {
				@apply text-center text-pretty heading-2;
			}

			> .description {
				@apply text-center paragraph-sm;
			}

			> .table {
				@apply min-h-[160px];
			}

			> .divider {
				@apply my-4;
			}

			> .summary {
				@apply items-center justify-center flex-nowrap;
				@apply mb-4 gap-8;

				> .cell {
					@apply gap-0 items-center;

					> .icon {
						@apply size-10 flex items-center justify-center;
						@apply mb-4;
						@apply bg-gray-50;
						@apply rounded-sm;
						@apply text-gray-600;
					}

					> .key {
						@apply paragraph-sm-g6;
					}

					> .row {
						@apply gap-1 items-baseline;

						> .value {
							@apply numeric-md;
						}

						> .unit {
							@apply hidden paragraph-sm;
						}
					}
				}

				> .divider {
					@apply h-8 self-center;
				}
			}

			> .actions {
				@apply gap-2 justify-center flex-nowrap;

				> .button {
					@apply flex-[50%];
				}
			}
		}
	}

	&.loading {
		> .inner > .content {
			@apply h-[400px];
			@apply flex items-center justify-center;

			> .body {
				@apply items-center justify-center;
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .inner > .content {
			@apply min-w-[800px];
			@apply px-16 pt-12;

			> .body {
				@apply gap-4;

				> .summary {
					@apply gap-16;

					> .row > .unit {
						@apply block;
					}
				}

				> .actions {
					@apply mt-4;
				}
			}
		}
	}

	@mixin dark {
		.root > .inner > .content > .body {
			> .summary > .cell > .icon {
				@apply bg-dark-600 text-dark-50;
			}

			> .actions > .button.secondary {
				@apply bg-dark-700 border-dark-400 text-white;

				&:hover {
					@apply bg-dark-600;
				}
			}
		}
	}
}
