.root {
	@apply max-w-[480px] gap-8;

	> .header {
		@apply gap-1;
		@apply items-stretch;

		> .heading {
			@apply text-center heading-2;
		}

		> .subheading {
			@apply text-center paragraph-sm;
		}
	}
}
