.root {
	@apply gap-8 items-center;

	> .header {
		@apply gap-1;
		@apply items-stretch;

		> .heading {
			@apply text-center heading-2;
		}

		> .subheading {
			@apply text-center paragraph-sm;
		}

		> .actions {
			@apply mt-2;
			@apply gap-2 justify-center items-center;
		}
	}

	> .alert {
		@apply self-stretch;
	}

	&.first {
		@apply items-stretch;

		.calendar {
			@apply px-6 py-4 mt-4;
			@apply bg-white border border-solid border-gray-300;
			@apply transition-shadow duration-300;

			&:hover {
				@apply shadow-xs;
			}
		}
	}

	&.sector > .content {
		@apply grid grid-cols-1 gap-4;

		> div[role='group'] {
			@apply contents;
		}
	}

	&.second {
		@apply self-stretch;

		> .header {
			@apply max-w-[640px];
		}

		> .section {
			@apply self-stretch items-stretch;

			> .header {
				@apply gap-4 items-center justify-between;

				> .label {
					@apply gap-0 items-start;

					> .row {
						@apply gap-2;

						> .heading {
							@apply display-lg;
						}
					}

					> .subheading {
						@apply paragraph-sm-g6;
					}
				}
			}

			> .content {
				@apply h-[240px];
				@apply items-stretch justify-center flex-nowrap;
				@apply p-2 gap-4;
				@apply overflow-x-auto;
				@apply bg-gray-50 border border-solid border-gray-300;

				> .card {
					@apply w-60;
					@apply gap-0 items-stretch;
					@apply bg-white border border-solid border-gray-300;
					@apply transition-shadow duration-300;

					> .header {
						@apply px-4 py-3 gap-2;
						@apply flex-nowrap items-center justify-center;

						> .label {
							@apply flex-auto;
							@apply gap-0 items-start;

							> .name {
								@apply display-sm-sb-d6;
							}

							> .meta {
								@apply paragraph-sm-g6 leading-none;
							}
						}
					}

					> .details {
						@apply flex-auto;
						@apply p-4 gap-3;
						@apply border-0 border-y border-solid border-gray-300;

						> .row {
							@apply gap-2;
							@apply flex-nowrap items-center justify-start;

							> .icon {
								@apply text-dark-300;
							}

							> .value {
								@apply paragraph-sm;
							}
						}
					}

					> .footer {
						@apply p-2 gap-2 flex-nowrap;

						> .button {
							@apply h-8;
							@apply flex-[50%];
						}
					}

					&:hover {
						@apply shadow-xs;
					}
				}

				> .add {
					@apply w-32;
					@apply p-4 gap-3;
					@apply flex flex-col items-center justify-center;
					@apply transition-colors duration-300;

					background-image: repeating-linear-gradient(
							0deg,
							#dee2e6,
							#dee2e6 16px,
							transparent 16px,
							transparent 32px,
							#dee2e6 32px
						),
						repeating-linear-gradient(
							90deg,
							#dee2e6,
							#dee2e6 16px,
							transparent 16px,
							transparent 32px,
							#dee2e6 32px
						),
						repeating-linear-gradient(
							180deg,
							#dee2e6,
							#dee2e6 16px,
							transparent 16px,
							transparent 32px,
							#dee2e6 32px
						),
						repeating-linear-gradient(
							270deg,
							#dee2e6,
							#dee2e6 16px,
							transparent 16px,
							transparent 32px,
							#dee2e6 32px
						);
					background-size:
						1px 100%,
						100% 1px,
						1px 100%,
						100% 1px;
					background-position:
						0 0,
						0 0,
						100% 0,
						0 100%;
					background-repeat: no-repeat;
					animation: borderAnimation 1s linear infinite;
					animation-play-state: paused;

					> .icon {
						@apply size-12;
						@apply flex items-center justify-center;
						@apply bg-white border border-solid border-gray-300 text-gray-600;
						@apply rounded-sm;
						@apply transition-colors duration-300;
					}

					> .text {
						@apply display-sm-sb-d3;
					}

					&:hover {
						@apply bg-gray-100;
						animation-play-state: running;

						> .icon {
							@apply bg-gray-50;
						}
					}
				}
			}
		}
	}

	&.third {
		@apply min-h-0;
		@apply self-stretch;

		> .table {
			@apply grid gap-2;
			@apply overflow-auto;

			grid-template-columns: minmax(200px, 4fr) repeat(6, minmax(120px, 1fr)) minmax(
					160px,
					2fr
				);
			grid-auto-rows: auto;

			> .cell {
				@apply w-full h-12;
				@apply items-center justify-center;
				@apply gap-1;

				> .label {
					@apply display-sm-w uppercase;
				}

				&:first-child {
					@apply col-start-2;
				}

				&:not(.summary) {
					@apply !text-white;

					> .label {
						@apply !text-white;
					}
				}

				&.energy {
					@apply bg-yellow-600;
				}

				&.industry {
					@apply bg-maroon-600;
				}

				&.transport {
					@apply bg-salmon-600;
				}

				&.buildings {
					@apply bg-purple-600;
				}

				&.agriculture {
					@apply bg-palm-600;
				}

				&.waste {
					@apply bg-skyline-600;
				}

				&.summary {
					@apply bg-gray-200;

					> .label {
						@apply !text-dark-300;
					}
				}
			}

			> .section {
				@apply gap-2;
				@apply col-span-8;

				> .title {
					@apply heading-3;
				}

				> .rows {
					@apply gap-0;
					@apply bg-white border border-solid border-gray-300;
					@apply transition-shadow duration-300;

					> .row {
						@apply h-16;
						@apply grid gap-2;
						@apply items-stretch;

						grid-template-columns:
							minmax(200px, 4fr) repeat(6, minmax(120px, 1fr))
							minmax(160px, 2fr);
						grid-template-rows: 1fr;

						> .label {
							@apply pl-6 p-4;
							@apply items-center justify-between flex-nowrap;

							> .text {
								@apply paragraph-sm truncate;
							}

							> .help {
								@apply min-w-[unset] min-h-[unset];
								@apply size-6;
								@apply text-gray-600;
								@apply rounded-sm;

								&:hover {
									@apply bg-gray-100;
								}
							}
						}

						> .value {
							@apply gap-1 items-center justify-center;

							> .wrapper {
								@apply w-full h-full;

								> .input {
									@apply w-full h-full;
									@apply border-0 outline-0;
									@apply numeric-sm-d6 text-center;
								}
							}

							> .text {
								@apply numeric-sm-d6;
							}

							> .unit {
								@apply paragraph-sm-g6;
							}

							&.energy > .wrapper > .input {
								@apply bg-yellow-600/10;
							}

							&.industry > .wrapper > .input {
								@apply bg-maroon-600/10;
							}

							&.transport > .wrapper > .input {
								@apply bg-salmon-600/10;
							}

							&.buildings > .wrapper > .input {
								@apply bg-purple-600/10;
							}

							&.agriculture > .wrapper > .input {
								@apply bg-palm-600/10;
							}

							&.waste > .wrapper > .input {
								@apply bg-skyline-600/10;
							}
						}
					}

					&:hover {
						@apply shadow-xs;
					}
				}
			}
		}
	}

	&.final {
		@apply gap-1 justify-center;
		@apply my-auto;

		> .icon {
			@apply self-center mb-4;
			@apply text-green-600;
		}

		> .heading {
			@apply text-center heading-2;
		}

		> .subheading {
			@apply text-center paragraph-sm;
		}

		> .button {
			@apply w-[320px] mt-6 self-center;
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root.sector > .content {
			@apply grid-cols-2;
		}
	}
	@mixin larger-than $mantine-breakpoint-xl {
		.root.sector > .content {
			@apply grid-cols-3;
		}
	}

	@mixin dark {
		.root {
			&.first .calendar {
				@apply bg-dark-600 border-dark-400;

				button[data-in-range='true'] {
					@apply bg-dark-400;
				}

				button[data-first-in-range='true'],
				button[data-last-in-range='true'] {
					@apply bg-white text-dark-600;
				}
			}

			&.second > .section {
				> .content {
					@apply bg-dark-700 border-dark-500;

					> .card {
						@apply bg-dark-600 border-dark-400;

						> .details {
							@apply border-dark-400;
						}

						> .footer > .button {
							@apply bg-dark-500 border-dark-300 text-white;

							&:hover {
								@apply bg-dark-400;
							}
						}
					}

					> .add {
						background-image: repeating-linear-gradient(
								0deg,
								#373a40,
								#373a40 16px,
								transparent 16px,
								transparent 32px,
								#373a40 32px
							),
							repeating-linear-gradient(
								90deg,
								#373a40,
								#373a40 16px,
								transparent 16px,
								transparent 32px,
								#373a40 32px
							),
							repeating-linear-gradient(
								180deg,
								#373a40,
								#373a40 16px,
								transparent 16px,
								transparent 32px,
								#373a40 32px
							),
							repeating-linear-gradient(
								270deg,
								#373a40,
								#373a40 16px,
								transparent 16px,
								transparent 32px,
								#373a40 32px
							);

						> .icon {
							@apply bg-dark-600 border-dark-400 text-dark-50;
						}

						&:hover {
							@apply bg-dark-600;

							> .icon {
								@apply bg-dark-400;
							}
						}
					}
				}

				> .header > .button {
					@apply bg-dark-700 border-dark-400 text-white;

					&:hover {
						@apply bg-dark-600;
					}
				}
			}

			&.third > .table {
				> .cell {
					&:not(.summary) {
						@apply opacity-80;
					}

					&.summary {
						@apply bg-dark-600;

						> .label {
							@apply !text-dark-50;
						}
					}
				}

				> .section > .rows {
					@apply bg-dark-600 border-dark-400;

					> .row > .value {
						&.energy > .wrapper > .input {
							@apply bg-yellow-600/15;
						}

						&.industry > .wrapper > .input {
							@apply bg-maroon-600/15;
						}

						&.transport > .wrapper > .input {
							@apply bg-salmon-600/15;
						}

						&.buildings > .wrapper > .input {
							@apply bg-purple-600/15;
						}

						&.agriculture > .wrapper > .input {
							@apply bg-palm-600/15;
						}

						&.waste > .wrapper > .input {
							@apply bg-skyline-600/15;
						}
					}
				}
			}
		}
	}
}

@keyframes borderAnimation {
	from {
		background-position:
			0 0,
			-32px 0,
			100% -32px,
			0 100%;
	}
	to {
		background-position:
			0 -32px,
			0 0,
			100% 0,
			-32px 100%;
	}
}
