.root {
	@apply fixed left-0 top-0 z-50;
	@apply w-screen;
	@apply px-2 pt-2;

	> .container {
		@apply h-14 w-full max-w-[1400px];
		@apply gap-0;
		@apply flex-nowrap items-center justify-start;
		@apply overflow-hidden;
		@apply border border-solid border-gray-300;
		@apply bg-white;
		@apply shadow-md;

		.headerButton {
			@apply size-14;
			@apply flex;
			@apply border-y-0 border-gray-300;
			@apply text-dark-300;

			&.logo {
				@apply w-[unset] px-4;
				@apply text-dark-600;

				&:not(:first-child) {
					@apply !border-l;
				}

				.label {
					@apply h-[unset];
					@apply align-baseline gap-1;
					@apply heading-3;

					.subtext {
						@apply paragraph-sm leading-none;
					}
				}
			}

			&.pages {
				@apply w-[unset] px-4;
			}

			&.user {
				@apply w-20;
			}

			&:hover {
				@apply bg-gray-50;
			}
		}

		> .left {
			@apply flex-[1_1_50%] items-center justify-start;

			> .dashboardButton {
				@apply mx-4;
				@apply text-dark-300 bg-gray-100;
				@apply font-normal;

				&:hover {
					@apply bg-gray-200;
				}
			}

			> .headerButton {
				@apply border-l-0;
			}
		}

		> .searchBar {
			@apply gap-2;

			> .searchButton {
				@apply w-80 h-8;
				@apply flex justify-center gap-2;
				@apply bg-gray-100 rounded-sm;
				@apply paragraph-sm;

				&:hover {
					@apply bg-gray-200;
				}
			}

			> .shortcut {
				@apply h-6;
				@apply items-center;
				@apply px-1.5;
				@apply rounded-sm border border-solid border-gray-300;
				@apply text-dark-600;
				@apply display-xs;
			}
		}

		> .tabs {
			@apply flex flex-col items-center justify-start;
			@apply gap-8;

			> .list {
				@apply relative;
				@apply h-9 px-1 gap-1;
				@apply justify-center items-center flex-nowrap;
				@apply bg-gray-50;
				@apply rounded-full;

				> .tab {
					@apply w-28 h-7;
					@apply display-sm-sb-d3;
					@apply transition-colors;
					@apply rounded-full;
					@apply z-[1];

					&[data-active] {
						@apply display-sm-sb-d6;
					}

					&:not([data-active]):hover {
						@apply bg-gray-100;
					}
				}

				> .indicator {
					@apply h-7;
					@apply bg-white border border-solid border-gray-300;
					@apply rounded-full;
					@apply shadow-xs;
				}
			}
		}

		> .right {
			@apply flex-[1_1_50%] items-center justify-end;

			> .headerButton {
				@apply border-r-0;
			}
		}
	}
}

.userDropdown {
	@apply pt-8 pb-4 px-4;
	@apply overflow-hidden;
	@apply shadow-md;

	> .details {
		@apply w-full;
		@apply my-4;
		@apply flex-nowrap;

		> .id {
			@apply flex-auto gap-0;

			> .text {
				@apply display-lg;
				@apply leading-tight;
			}
		}

		> .rating {
			@apply gap-1 items-end;

			> .subtext {
				@apply flex items-center;
				@apply paragraph-sm-g6;
				@apply leading-tight;
				@apply text-right;
			}
		}
	}

	> .primary {
		@apply h-7;
		@apply justify-center items-center;
		@apply gap-1 mb-4;
		@apply bg-dark-600 text-white;

		&:hover {
			@apply bg-dark-400;
		}
	}

	> .bg {
		@apply absolute top-0 left-0;
		@apply w-full h-16;
		@apply pointer-events-none;
	}

	> *:not(.bg) {
		@apply relative z-20;
	}

	&.loading {
		> .avatar {
			@apply size-14;
		}

		> .details {
			> .id {
				@apply gap-2;

				> .text {
					@apply w-28 h-3;

					&:last-child {
						@apply w-40 h-5;
					}
				}
			}

			> .rating > .subtext {
				@apply w-24 h-3;
			}
		}
	}
}

* {
	@mixin rtl {
		.root > .container {
			> .left > .headerButton {
				@apply border-r-0 border-l;
			}

			> .right > .headerButton {
				@apply border-l-0 border-r;
			}
		}
	}

	@mixin dark {
		.root > .container {
			@apply border-dark-400 bg-dark-600;

			.headerButton {
				@apply border-dark-400 text-dark-50;

				&.logo {
					@apply text-white;
				}

				&:hover {
					@apply bg-dark-400;
				}
			}

			> .left > .dashboardButton {
				@apply text-dark-50 bg-dark-500;

				&:hover {
					@apply bg-dark-400;
				}
			}

			> .searchBar {
				> .searchButton {
					@apply bg-dark-500;

					&:hover {
						@apply bg-dark-400;
					}
				}

				> .shortcut {
					@apply border-dark-400;
				}
			}

			> .tabs > .list {
				@apply bg-dark-500;

				> .tab {
					@apply text-dark-50;

					&[data-active='true'] {
						@apply text-white;
					}

					&:not([data-active='true']):hover {
						@apply bg-dark-400;
					}
				}

				> .indicator {
					@apply bg-dark-600 border-0;
					box-shadow: none;
				}
			}
		}

		.userDropdown {
			> .bg {
				@apply bg-dark-600;
			}

			> .primary {
				@apply bg-dark-400 text-white;

				&:hover {
					@apply bg-dark-300;
				}
			}
		}
	}

	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply px-4 pt-4;
		}
	}

	@mixin larger-than $mantine-breakpoint-lg {
		.root > .container {
			@apply gap-2;

			> .logo.headerButton {
				@apply px-6;
			}

			> .left > .dashboardButton {
				@apply mx-6;
			}

			> .searchBar > .searchButton {
				@apply w-96;
			}
		}
	}

	@mixin larger-than $mantine-breakpoint-xl {
		.root > .container > .searchBar > .shortcut {
			@apply gap-[1px];
		}
	}

	@mixin larger-than $mantine-breakpoint-2xl {
		.root .container {
			@apply gap-4;

			.searchBar .shortcut {
				@apply h-7 gap-[2px];
			}
		}
	}
}
