.root {
	@apply flex items-center flex-nowrap;
	@apply gap-0.5;
	@apply paragraph-sm-g5;
	@apply leading-none whitespace-nowrap;

	&.short {
		@apply cursor-pointer truncate;
	}

	svg {
		@apply flex-shrink-0;
	}
}
