.root {
	@apply h-auto;
	@apply self-stretch;
	@apply col-span-full;

	&.createAuction:not(.private) {
		@apply hidden;
	}

	&.government {
		@apply col-span-6;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			@apply col-span-4;
		}
	}
}
