.root {
	@apply w-full;
	@apply px-16 py-6 gap-6;
	@apply items-stretch justify-center;
	@apply bg-dark-600 border border-solid border-dark-400;
	@apply rounded-sm;

	> .content {
		@apply py-8 gap-16;
		@apply items-start justify-center;

		> .main {
			@apply flex-auto;
			@apply gap-2;
			@apply items-start justify-start;

			> .logo {
				@apply flex items-center justify-center;
				@apply gap-2;

				> .icon {
					@apply text-white;
				}

				> .title {
					@apply heading-3-w leading-none;
					@apply !text-white;
				}
			}

			> .slogan {
				@apply paragraph-sm-w;
			}
		}

		> .column {
			@apply w-[120px];
			@apply gap-2;
			@apply items-start justify-start;

			&.wide {
				@apply w-[240px];
			}

			> .title {
				@apply display-sm-sb-w;
				@apply !text-white;
			}

			.text {
				@apply paragraph-sm-w text-left;
			}

			.link {
				@apply paragraph-sm-w text-left;
				@apply underline underline-offset-4 decoration-1 decoration-dashed decoration-gray-600;
			}

			> .row {
				@apply items-baseline justify-start;
				@apply gap-1;

				> .link {
					@apply text-blue-600 decoration-blue-600;
				}
			}
		}
	}

	> .divider {
		@apply border-dark-400;
	}

	> .footer {
		@apply items-center justify-between;
		@apply gap-8;

		> .copyright {
			@apply paragraph-sm-w;
		}

		> .socials {
			@apply gap-1;

			> .button {
				@apply size-7;
				@apply text-white;

				&:hover {
					@apply bg-dark-500;
				}
			}
		}
	}
}

* {
	@mixin dark {
		.root {
			> .content {
				> .main > .slogan {
					@apply !text-dark-50;
				}

				> .column .text,
				> .column .link {
					@apply !text-dark-50;
				}
			}

			> .footer > .copyright {
				@apply !text-dark-50;
			}
		}
	}
}
