.root {
  > .header {
    > .label {
      > .title {
        @apply heading-1;
      }
      > .subtitle {
        @apply paragraph-md;
      }
    }
    > .row {
      @apply mt-2;
      > .search {
        @apply w-96;
      }
      > .filters > .label {
        @apply paragraph-sm;
      }
      > .settings {
        > .label {
          @apply paragraph-sm;
        }
      }
      > .subtitle {
        > .subtitle {
          @apply paragraph-md;
        }
      }
    }
  } 
}