.root {
  @apply justify-between gap-4 h-full;
	@apply overflow-hidden flex-wrap;
	@apply border border-solid border-gray-300 text-dark-600;
  @apply hover:shadow-xs;
	@apply transition-all duration-500;
  > .left {
    @apply pl-8 py-6 pb-8;
    > .text {
      @apply w-full mr-4;
      > .name {
        @apply heading-3;
      }
      > .description {
        @apply paragraph-sm mt-1;
      }
      > .winners {
        @apply mt-2 flex items-end gap-1.5;
        > .winnerCount {
          @apply heading-2;
        }
        > :not(.winnerCount) {
          @apply paragraph-md;
        }
      }
    }
    > .chart {
      @apply w-fit relative h-fit mr-4;
      > .chartText {
        @apply paragraph-md order-2;
      }
      .tooltip {
        @apply py-1 px-2 bg-white flex border border-solid border-gray-300;
      }
    }
  } 
  > .right {
    @apply h-full w-full bg-primary-600;
    background-image: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.02),
      rgba(255, 255, 255, 0.02) 20px,
      transparent 20px,
      transparent 40px
    );
    > .info {
      > .infoText, > .infoTitle {
        @apply text-white;
      }
      > .infoTitle {
        @apply mb-2 mt-1;
      }
      > .infoText {
        @apply paragraph-sm-w;
      }
      > .icon {
        @apply text-white;
      }
    }
    > .divider {
      @apply opacity-75;
    }
  }
}
.list {
  .header {
    .filterMenu {
      @apply bg-red-400;
    }
    > .row {
      > .settings {
        > .label {
          @apply paragraph-sm;
        }
      }
      > .subtitle {
        @apply paragraph-sm;
      }
      > .search {
        @apply w-96;
      }
    }
  }
  
  .placeholder {
    @apply flex flex-col items-center my-8;
    > .icon, .text {
      @apply text-gray-500;
    }
    > .text {
      @apply font-semibold;
    }
  }
  > .footer {
    @apply justify-center mt-4;
  }
}

.chartIcon {
  @apply absolute flex justify-center items-center pointer-events-none;
  > .icon {
    @apply text-white;
  }
}