.root {
	@apply col-span-full;

	> .header {
		@apply w-full;
		@apply flex-col flex-nowrap;

		> .label {
			@apply flex-auto gap-0;
			@apply items-center;

			> .heading {
				@apply heading-2;
			}

			> .subheading {
				@apply paragraph-sm-g6;
			}
		}

		> .action:hover {
			@apply bg-dark-400;
		}
	}

	> .cards {
		@apply flex flex-row gap-3;
		@apply overflow-x-auto overflow-y-visible;

		> .card {
			@apply min-w-[280px];
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-2xs {
		.root > .header {
			@apply flex-row;

			> .label {
				@apply items-start;
			}
		}
	}

	@mixin larger-than $mantine-breakpoint-xs {
		.root > .cards {
			@apply grid grid-cols-2;
			@apply overflow-x-visible;

			> .card {
				@apply min-w-[unset];
			}
		}
	}

	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply col-span-7;
		}
	}

	@mixin larger-than $mantine-breakpoint-lg {
		.root > .cards {
			@apply grid-cols-3;
		}
	}
}
