.root {
	@apply w-screen h-screen;
	@apply flex flex-col items-stretch;

	> .row {
		@apply flex-auto min-h-0;
		@apply items-stretch justify-center flex-nowrap;
		@apply pt-20;

		> .wrapper {
			@apply box-content;
			@apply min-w-0 min-h-0 max-h-full;
			@apply overflow-y-auto;
			@apply flex-auto;
			@apply flex flex-col items-center;
			@apply px-2 pb-4;

			> .content {
				@apply max-w-[1400px];
				@apply flex-auto;
				@apply flex flex-col items-stretch;
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .row {
			@apply pt-24;

			> .wrapper {
				@apply px-4 pb-8;

				> .content:has(.noscroll) {
					height: calc(100vh - 8rem);
				}
			}
		}
	}
}
