.root {
	@apply w-screen h-screen;
	@apply flex flex-col items-stretch;

	> .row {
		@apply flex-auto min-h-0;
		@apply items-stretch justify-center flex-nowrap;
		@apply gap-0;

		> .wrapper {
			@apply box-content;
			@apply min-w-0 min-h-0 max-h-full;
			@apply overflow-y-auto;
			@apply flex-auto;
			@apply flex flex-col items-center;
			@apply px-2 pb-4 pt-20;

			> .content {
				@apply flex-auto;
				@apply flex flex-col items-stretch;
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .row > .wrapper {
			@apply px-4 pb-8 pt-24;

			> .content:has(.noscroll) {
				height: calc(100vh - 8rem);
			}
		}
	}
}
