.root {
	@apply min-w-[1000px] flex-[0_0_50%] p-8;

	> .body {
		@apply h-full;

		> .table {
			@apply h-full;
		}
	}
}

.button {
	@apply fixed;
	@apply left-0 top-1/2 -translate-y-1/2;
	@apply size-12;
	@apply bg-white border border-solid border-gray-300 text-dark-600;
	@apply shadow-sm;
}
