.root {
	@apply min-w-[1000px] flex-[0_0_50%] p-8;

	> .body {
		@apply h-full;

		> .table {
			@apply h-full;
		}
	}
}

.indicator {
	@apply fixed;
	@apply left-0 top-1/2 -translate-y-1/2;

	> .button {
		@apply size-12;
		@apply bg-dark-600 text-white;
		@apply shadow-md;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
		}
	}

	@mixin dark {
		.indicator > .button {
			@apply bg-white text-dark-600;
		}
	}
}
