.root {
	@apply min-w-[100vw] flex-[0_0_50%] p-2;

	> .body {
		@apply h-full;

		> .table {
			@apply h-full;
		}
	}
}

.indicator {
	@apply fixed;
	@apply left-0 top-1/2 -translate-y-1/2;
	@apply z-10;

	> .button {
		@apply size-12;
		@apply bg-dark-600 text-white;
		@apply shadow-md;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply p-4;
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
			@apply min-w-[75vw];
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			@apply min-w-[1000px] p-8;
		}
	}

	@mixin rtl {
		.indicator {
			@apply right-0;

			svg {
				@apply -scale-x-100;
			}
		}
	}

	@mixin dark {
		.indicator > .button {
			@apply bg-white text-dark-600;
		}
	}
}
