.root {
	@apply relative;
	@apply col-span-full;
	@apply items-stretch;
	@apply gap-0;

	> .bg {
		@apply absolute top-0 -left-[10%];
		@apply w-[120%] h-full;

		> .grid {
			@apply absolute top-0 left-0;
			@apply w-full h-full;
			@apply !bg-transparent;
		}

		> .gradient {
			@apply absolute top-0 left-0;
			@apply w-full h-full;

			background: radial-gradient(
				at center,
				rgba(255, 255, 255, 0) 50%,
				rgba(255, 255, 255, 1) 100%
			);
		}
	}

	> *:not(.bg) {
		@apply z-10;
	}
}

* {
	@mixin dark {
		.root {
			@apply bg-dark-700 border-dark-600;

			> .bg > .gradient {
				background: radial-gradient(
					at center,
					rgba(26, 27, 30, 0) 50%,
					rgba(26, 27, 30, 1) 100%
				);
			}
		}
	}
}
