.root {
	@apply gap-4 items-start;
	@apply grid grid-cols-3;
	grid-template-rows: auto auto auto;

	> .details {
		@apply gap-0 flex-auto flex-col flex-nowrap;
		@apply col-span-3 row-span-1;
		@apply transition-shadow duration-500;

		> .image {
			@apply aspect-video self-stretch;
			@apply relative;

			img {
				@apply object-cover object-center;
			}
		}

		> .content {
			@apply gap-2 px-8 py-6;
			@apply flex-auto flex-nowrap justify-between items-stretch self-stretch;
			@apply bg-white border border-solid border-gray-300;

			> .breadcrumbs {
				> a {
					@apply paragraph-sm;
					@apply underline underline-offset-4 decoration-1 decoration-dashed decoration-gray-600;
				}

				> .separator {
					@apply mx-1;
				}
			}

			> .title {
				@apply heading-1;
			}

			> .badges {
				@apply gap-2 items-center;
			}

			> .row {
				@apply gap-8 justify-between items-center;

				> .owner {
					@apply gap-2;

					> .avatar {
						@apply size-10;
					}

					> .link {
						@apply text-blue-600 font-semibold;
						@apply underline underline-offset-4 decoration-1 decoration-dashed decoration-blue-600;
					}
				}
			}
		}

		&:hover {
			@apply shadow-xs;
		}
	}

	> .properties {
		@apply col-span-3 row-span-1 row-start-2;
		@apply grid grid-cols-2 grid-rows-4 gap-0;
		@apply bg-dark-600;
		@apply transition-shadow duration-500;

		> .cell {
			@apply h-32;
			@apply gap-0 items-center justify-center;
			@apply border border-r-0 border-b-0 border-solid border-dark-400;

			&:nth-child(4n) {
				@apply border-r;
			}

			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				@apply border-b;
			}

			> .icon {
				@apply size-9 mb-2;
				@apply flex items-center justify-center;
				@apply bg-dark-400 text-dark-50;
				@apply rounded-sm;
			}

			> .key {
				@apply paragraph-sm-g3 text-center;
			}

			> .value {
				@apply display-sm-15-sb-w text-center;
			}
		}

		&:hover {
			@apply shadow-xs;
		}
	}

	> .statistics {
		@apply col-span-3;
		@apply gap-0 items-center justify-center self-stretch;
		@apply bg-white border border-solid border-gray-300;
		@apply transition-shadow duration-500;

		> .divider {
			@apply self-stretch;
		}

		> .loader {
			@apply mb-4;
		}

		> .loaderText {
			@apply paragraph-sm text-center;
		}

		> .section {
			@apply px-8 py-6;
			@apply self-stretch;

			&.minBid {
				@apply flex-nowrap justify-between items-center;

				> .content {
					@apply flex-auto;
					@apply gap-1;

					> .key {
						@apply paragraph-sm-15;
					}

					> .value {
						@apply gap-2;

						> .amount {
							@apply numeric-xl;
						}
					}
				}
			}

			&.permits {
				@apply items-center;
				@apply border-t-0;

				.label {
					@apply display-sm-sb-d3;
				}

				> .content {
					@apply gap-0 items-center justify-center self-stretch;
					@apply flex-nowrap;

					> .key {
						@apply paragraph-sm-15;
					}

					> .value {
						@apply gap-2;

						> .amount {
							@apply numeric-xl;
						}
					}
				}
			}
		}

		&:hover {
			@apply shadow-xs;
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			> .details {
				@apply flex-row;

				> .image {
					@apply w-[280px] aspect-[unset];
				}
			}

			> .properties {
				@apply grid-cols-4 grid-rows-2;
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			@apply grid-cols-9;
			grid-template-rows: auto auto;

			> .details,
			> .properties {
				@apply col-span-6;
			}

			> .statistics {
				@apply row-span-2;
			}
		}
	}

	@mixin dark {
		.root {
			> .details {
				> .image img {
					@apply brightness-75;
				}

				> .content {
					@apply bg-dark-600 border-dark-400;

					> .breadcrumbs > a {
						@apply decoration-dark-50;
					}
				}
			}

			> .properties > .cell > .value {
				@apply !text-dark-50;
			}

			> .statistics {
				@apply bg-dark-600 border-dark-400;

				> .minBid > .sparkline {
					--chart-color: #ffffff !important;
				}

				> .divider {
					@apply border-dark-400;
				}
			}
		}
	}
}
