.root {
	@apply w-screen;
	@apply flex flex-col items-center;
	@apply px-2 pb-8 pt-20 gap-8;

	> .content,
	> .footer {
		@apply max-w-[1400px];
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply px-4 pb-16 pt-24;
		}
	}
}
