.root {
	@apply min-h-[480px];
	@apply col-span-full;
	@apply flex items-center justify-center;
	@apply bg-dark-600 text-white;
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply col-span-5;
		}
	}
}
