.root {
	@apply relative;
	@apply justify-between items-stretch self-stretch;
	@apply overflow-hidden flex-nowrap;
	@apply py-6 px-8 gap-4;
	@apply bg-white border border-solid border-gray-300 text-dark-600;
  @apply hover:shadow-xs;
	@apply transition-all duration-500;

  > .title {
    @apply display-md-sb-g6;
    @apply truncate;
    @apply mb-1;
  }
  > .distribution {
    @apply flex justify-center items-start;
  }
  .tooltip {
    @apply relative -top-8 py-2 px-8 border border-solid border-gray-300 bg-white;
  }
}