.root {
	@apply relative;
	@apply items-stretch;
	@apply gap-0;

	> .header {
		@apply gap-0;
		@apply border border-solid border-gray-300;
		@apply transition-shadow duration-500;

		> .top {
			@apply items-stretch flex-col flex-nowrap;
			@apply gap-0;

			> .left {
				@apply flex-auto justify-center;
				@apply px-8 py-4 gap-4;
				@apply bg-dark-600;

				> .dots {
					@apply gap-2;
					@apply text-dark-50;
				}

				> .label {
					@apply gap-0;
					@apply items-center;

					> .heading {
						@apply heading-2-w leading-none;
					}

					> .subheading {
						@apply paragraph-sm-g3 text-center;
					}
				}
			}

			> .right {
				@apply justify-center flex-wrap;
				@apply gap-2 p-2;
				@apply bg-white;

				> .dropdown {
					@apply flex-auto;

					input {
						@apply h-8 min-h-[unset];
					}
				}

				> .action {
					@apply h-8;

					&.square {
						@apply size-8;
					}

					&:not(.square) {
						@apply w-full;
					}
				}
			}
		}

		> .progress {
			@apply h-1;

			> .bar {
				@apply bg-maroon-500;
			}
		}

		&:hover {
			@apply shadow-xs;
		}
	}

	> .content {
		@apply flex-nowrap;
		@apply py-2;

		> .carousel {
			@apply w-full;
			@apply flex-auto;

			.viewport {
				@apply overflow-visible;
			}

			.indicator {
				@apply -bottom-8;
			}

			.loader {
				@apply flex flex-col justify-center items-center;
				@apply flex-[0_0_10%];
				@apply gap-6;

				> .text {
					@apply display-md-sb;
				}
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			> .header > .top {
				> .left {
					@apply justify-between;

					> .label {
						@apply items-start;

						> .subheading {
							@apply text-left;
						}
					}
				}
			}

			> .content {
				@apply py-4;
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root > .header > .top {
			@apply h-20 flex-row;

			> .left {
				@apply py-0;

				> .label > .subheading {
					@apply leading-none;
				}
			}

			> .right {
				@apply px-6 py-0 flex-nowrap;

				> .dropdown {
					@apply w-40;
				}

				> .action:not(.square) {
					@apply w-auto;
				}
			}
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
			> .header > .top > .right > .dropdown {
				@apply w-60;
			}

			> .content {
				@apply py-6;
			}
		}
	}
	@mixin dark {
		.root > .header {
			@apply border-dark-400;

			> .top {
				> .left > .label {
					> .heading {
						@apply text-white;
					}

					> .subheading {
						@apply text-gray-300;
					}
				}

				> .right {
					@apply bg-dark-500;

					> .dropdown input {
						@apply border-none;
					}
				}
			}
		}
	}
}
