.root {
	@apply min-h-[360px];
	.cell {
		@apply gap-1;

		&:has(.button) {
			@apply gap-0;

			.button {
				@apply size-10;

				&.delete {
					@apply bg-red-600 text-white;
				}
			}
		}
	}

	.actions {
		@apply p-0 border-0;
	}

	th:first-child,
	th:last-child,
	td:first-child,
	td:last-child {
		@apply bg-white;
	}
}

* {
	@mixin dark {
		.root th:first-child,
		.root th:last-child,
		.root td:first-child,
		.root td:last-child {
			@apply bg-dark-700;
		}
	}
}
