.root {
	@apply relative;
	@apply col-span-full;
	@apply grid grid-cols-12 gap-4;

	> .header {
		@apply relative;
		@apply col-span-full;
		@apply flex-col;
		@apply p-6;
		@apply overflow-hidden;
		@apply bg-dark-600;
		@apply border border-solid border-gray-200;
		@apply transition-all duration-500;

		> .row {
			@apply flex-col items-center;

			> .label {
				@apply flex-col items-center;
				@apply gap-0;

				> .heading {
					@apply heading-2-w;
				}

				> .slash {
					@apply text-dark-50;
					@apply font-serif font-bold text-2xl;
				}

				> .subheading {
					@apply paragraph-sm-w;
					@apply translate-y-0.5;
				}
			}

			> .settings {
				@apply gap-2 flex-nowrap;

				> .label {
					@apply ml-1;
					@apply paragraph-sm-w;
				}

				> .dropdown {
					@apply flex-auto;

					input {
						@apply h-8 min-h-[unset];
					}
				}

				> .action {
					@apply h-8;
					@apply bg-white text-dark-600;

					&.square {
						@apply size-8;
					}
				}
			}

			> .list {
				@apply gap-2;

				> .heading {
					@apply paragraph-sm-g3;
				}

				> .badge {
					@apply bg-gray-200 text-dark-600;
				}
			}

			.viewActions {
				@apply relative;
				@apply h-10;
				@apply justify-center items-center;
				@apply px-1 gap-1;
				@apply bg-white;

				> .action {
					@apply w-20 h-8;
					@apply px-2;
					@apply bg-transparent text-dark-600 border-0;
					@apply transition-colors;
					@apply z-[1];

					&[data-active='true'] {
						@apply text-white;
					}

					&:not([data-active='true']):hover {
						@apply bg-gray-100;
					}
				}

				> .indicator {
					@apply w-12 h-8;
					@apply bg-dark-600;
				}
			}
		}

		> .bg {
			@apply absolute -top-16 -left-[44rem];
			@apply pointer-events-none;
			@apply flex flex-row items-center justify-center;
			@apply gap-4;
			@apply opacity-10;
			@apply -rotate-45;

			> .graphic {
				@apply h-32;
				@apply bg-white;

				&:nth-child(4) {
					@apply w-2;
				}

				&:nth-child(3) {
					@apply w-4;
				}

				&:nth-child(2) {
					@apply w-6;
				}

				&:nth-child(1) {
					@apply w-8;
				}
			}
		}

		> *:not(.bg) {
			@apply z-10;
		}

		&:hover {
			@apply shadow-xs;
		}
	}

	> .catalogue {
		@apply grid grid-cols-3 gap-4 col-span-full;
		@apply self-start;

		> .pagination {
			@apply col-span-full;
			@apply justify-self-center;
		}
	}

	> .bg {
		@apply absolute top-0 left-0;
		@apply w-full h-full;
		@apply opacity-75;

		> .graphic {
			@apply absolute top-0 left-0;
			@apply w-full h-full;
			@apply !bg-transparent;
		}
	}

	> *:not(.bg) {
		@apply z-10;
	}
}

.filters {
	@apply col-span-3 row-end-auto gap-0;
	@apply self-start;
	@apply bg-white;
	@apply border border-solid border-gray-200;
	@apply transition-all duration-500;

	&.modal > .inner > .content {
		@apply p-0;
		@apply flex flex-col justify-center items-stretch;
		@apply overflow-y-hidden;

		min-width: calc(100vw - 16px);

		> .body {
			@apply min-h-0;
			@apply flex flex-col items-stretch justify-center;
			@apply gap-0 p-0;

			> .header > .button {
				@apply absolute right-6 top-6;
			}
		}
	}

	.header {
		@apply relative;
		@apply overflow-hidden flex-shrink-0;
		@apply p-6 gap-0;
		@apply bg-dark-600;

		> .heading {
			@apply heading-2-w;
		}

		> .subheading {
			@apply paragraph-sm-g3 text-pretty;
		}

		> .bg {
			@apply absolute top-14 -right-44;
			@apply pointer-events-none;
			@apply flex flex-row items-center justify-center;
			@apply gap-4;
			@apply opacity-10;
			@apply -rotate-45;

			> .graphic {
				@apply h-32;
				@apply bg-white;

				&:nth-child(1) {
					@apply w-2;
				}

				&:nth-child(2) {
					@apply w-4;
				}

				&:nth-child(3) {
					@apply w-6;
				}

				&:nth-child(4) {
					@apply w-8;
				}
			}
		}

		> *:not(.bg) {
			@apply z-10;
		}
	}

	.wrapper {
		@apply relative;
		@apply overflow-y-auto;

		&.loading {
			@apply overflow-y-hidden;
		}

		> form {
			@apply contents;

			> .accordion {
				.chevron[data-rotate='true'] {
					transform: rotate(45deg);
				}

				.title {
					@apply flex flex-row items-baseline gap-2;
					@apply display-sm-sb-d6 uppercase;

					> .subtitle {
						@apply paragraph-sm-g6 normal-case;
					}
				}

				.content {
					@apply flex flex-col gap-3;
					@apply border-0 border-t border-solid border-gray-100;

					> .description {
						@apply mt-1;
						@apply paragraph-sm-g6;

						> a {
							@apply text-blue-600;
							font-size: inherit;
						}
					}

					.values {
						@apply max-h-60;
						@apply overflow-y-auto overflow-x-hidden;
						@apply flex flex-col gap-2;

						&:has(.range) {
							@apply px-2 pt-10 pb-1;
							@apply overflow-y-hidden;
						}

						> .checkbox {
							--checkbox-color: var(--mantine-color-maroon-6) !important;

							input,
							label {
								@apply cursor-pointer;
							}
						}

						> .range {
							--slider-color: var(--mantine-color-maroon-6) !important;
						}
					}
				}
			}

			> .footer {
				@apply flex-col justify-between items-stretch flex-nowrap;
				@apply p-4;

				> .value {
					@apply paragraph-sm-g6 text-center;
				}

				> .actions {
					@apply gap-1 flex-nowrap;

					> .action {
						@apply h-8 flex-auto;

						&.square {
							@apply size-8 flex-none;
						}
					}
				}
			}
		}
	}

	&:hover {
		@apply shadow-xs;
	}
}

* {
	@mixin larger-than $mantine-breakpoint-xs {
		.root > .catalogue {
			@apply grid-cols-6;
		}
	}
	@mixin larger-than $mantine-breakpoint-sm {
		.root > .header {
			> .row {
				@apply flex-row flex-nowrap justify-between;

				> .label {
					@apply flex-row flex-nowrap gap-2;
				}
			}
		}

		.filters.modal > .inner > .content {
			@apply min-w-[640px];
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root > .catalogue {
			@apply col-span-9;
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root > .catalogue {
			@apply grid-cols-9;
		}
	}
	@mixin larger-than $mantine-breakpoint-xl {
		.filters form > .footer {
			@apply flex-row justify-between items-center;

			> .value {
				@apply text-left;
			}

			> .actions > .action {
				@apply flex-initial;
			}
		}
	}

	@mixin dark {
		.root {
			> .header {
				@apply border-dark-400;

				> .row {
					> .label {
						> .heading {
							@apply !text-white;
						}

						> .subheading {
							@apply !text-dark-50;
						}
					}

					> .settings {
						> .label {
							@apply !text-dark-50;
						}

						> .action {
							@apply bg-dark-600 text-white;
							@apply border border-solid border-dark-400;
						}
					}

					> .filters > .heading {
						@apply !text-gray-300;
					}

					.viewActions {
						@apply bg-dark-500;

						> .action {
							@apply text-dark-50;

							&[data-active='true'] {
								@apply text-white;
							}

							&:not([data-active='true']):hover {
								@apply bg-dark-400;
							}
						}

						> .indicator {
							@apply bg-dark-600;
						}
					}
				}
			}

			> .bg {
				@apply opacity-100;
			}
		}

		.filters {
			@apply bg-dark-500 border-dark-400;

			.header {
				> .heading {
					@apply !text-white;
				}

				> .subheading {
					@apply !text-gray-300;
				}
			}

			.wrapper > form > .accordion .content {
				@apply border-dark-400;
			}
		}
	}
}
