.root {
	@apply gap-6;

	> .header {
		@apply gap-2;

		> .row {
			@apply flex-nowrap gap-8 justify-between items-center;

			> .label {
				@apply gap-3 flex-nowrap items-baseline;

				> .title {
					@apply heading-1;
				}

				> .subtitle {
					@apply paragraph-sm-g6;
				}
			}

			> .settings {
				@apply gap-2;

				> .legend {
					@apply gap-4;

					> .cell {
						@apply gap-2;

						> .key {
							@apply size-4 rounded-sm border border-solid;

							&.contributing {
								@apply bg-blue-100 border-blue-300;
							}

							&.winning {
								@apply bg-yellow-100 border-yellow-300;
							}

							&.mine {
								@apply bg-violet-100 border-violet-300;
							}
						}

						> .value {
							@apply paragraph-xs;
						}
					}
				}

				> .divider {
					@apply mx-2;
				}

				> .label {
					@apply paragraph-sm;
				}

				> .dropdown {
					@apply flex-auto;

					input {
						@apply h-8 min-h-[unset];
					}
				}

				> .button {
					@apply size-8;
				}
			}
		}
	}

	> .table {
		@apply flex-1 overflow-y-auto;

		.empty {
			@apply items-center justify-center h-[320px];

			> .icon {
				@apply size-11 rounded-full bg-gray-100 text-gray-500;
				@apply flex justify-center items-center;
			}

			> .text {
				@apply paragraph-sm-g6;
			}
		}
	}

	> .pagination {
		@apply self-center;
	}
}

.filterMenu {
	@apply px-6 py-4;

	.label {
		@apply display-md-sb mb-4;
	}

	.options {
		@apply gap-4;
	}
}
