.root {
	@apply col-span-full;
	@apply px-6 py-4 items-stretch;
	@apply bg-white border border-solid border-gray-300;
	@apply transition-shadow duration-300;

	> .header {
		@apply items-center justify-center flex-nowrap;
		@apply gap-2;

		> .label {
			@apply flex-auto;
			@apply gap-0 items-start;

			> .title {
				@apply heading-3;
			}

			> .subtitle {
				@apply paragraph-sm;
			}
		}

		> .dropdown {
			@apply flex-shrink-0;
		}
	}

	> .chart {
		@apply py-4;
	}

	> .table {
		td:first-child,
		th:first-child {
			@apply bg-white;
		}

		.cell {
			@apply flex-nowrap items-center justify-start;
			@apply gap-2;

			> .icon {
				@apply size-6;
				@apply flex items-center justify-center;
				@apply rounded-sm;

				&.yellow {
					@apply bg-yellow-600/10 text-yellow-600;
				}

				&.maroon {
					@apply bg-maroon-600/10 text-maroon-600;
				}

				&.salmon {
					@apply bg-salmon-600/10 text-salmon-600;
				}

				&.purple {
					@apply bg-purple-600/10 text-purple-600;
				}

				&.palm {
					@apply bg-palm-600/10 text-palm-600;
				}

				&.skyline {
					@apply bg-skyline-600/10 text-skyline-600;
				}
			}

			> .name {
				@apply display-sm-sb-d3;
			}

			> .value {
				@apply flex-auto;
				@apply paragraph-sm;
			}

			> .badge {
				@apply w-12;
				@apply text-gray-600;
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
			@apply col-span-3;
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
			@apply px-8 py-6;
		}
	}

	@mixin dark {
		.root {
			@apply bg-dark-700 border-dark-500;

			> .table td:first-child,
			> .table th:first-child {
				@apply bg-dark-700 border-dark-400;
			}
		}
	}
}
