.root {
	@apply sticky top-24;
	@apply w-[560px] items-stretch gap-0;
	@apply bg-white;
	@apply transition-shadow duration-500;

	> .container {
		@apply p-4;
		@apply border border-solid border-gray-300;

		> .image {
			@apply h-[320px];
			@apply relative;
			@apply overflow-hidden;

			img {
				@apply object-cover object-center;
				@apply transition-transform duration-700;
			}

			> .overlay {
				@apply absolute -bottom-8 left-0 w-full h-full;
				@apply justify-center items-center;
				@apply opacity-25;
				@apply transition-all duration-1000;

				background-image: linear-gradient(
					to top,
					rgba(0, 0, 0, 0.8) 20%,
					rgba(0, 0, 0, 0) 100%
				);

				&.blurred {
					@apply opacity-100 bottom-0;

					backdrop-filter: blur(4px);

					> .text {
						@apply text-center uppercase tracking-[0.25rem] indent-1;
						@apply display-3xl-w opacity-50;
					}
				}
			}
		}
	}

	> .row {
		@apply flex-nowrap gap-0;
		@apply bg-dark-600;
		@apply border border-t-0 border-solid border-gray-300;

		> .section {
			@apply flex-[50%];
			@apply px-6 py-4 gap-0;
			@apply flex-nowrap items-center justify-center;
			@apply border-0 border-r border-solid border-dark-400;

			&:last-child {
				@apply border-0;
			}

			.subtext {
				@apply paragraph-sm-w text-center;
			}

			.price {
				@apply gap-2 flex-nowrap;

				> .badge {
					@apply bg-dark-400;
					@apply text-dark-100;
				}

				> .icon {
					@apply size-6;
					@apply flex items-center justify-center;
					@apply bg-dark-400 text-dark-100;
					@apply rounded-sm;
				}

				> .value {
					@apply numeric-xl-w;
				}
			}
		}
	}

	> .countdown {
		@apply items-center px-6 py-4 gap-2;
		@apply border border-t-0 border-solid border-gray-300;

		background-image: repeating-linear-gradient(
			135deg,
			rgba(0, 0, 0, 0.01),
			rgba(0, 0, 0, 0.01) 20px,
			#0000 20px,
			#0000 40px
		);

		> .title {
			@apply display-md-sb text-center;
		}

		> .subtext {
			@apply paragraph-sm text-center;
		}
	}

	> .prompt {
		@apply flex-nowrap gap-2 p-4;
		@apply border border-t-0 border-solid border-gray-300;

		> .cta {
			@apply flex-[50%] h-10;
		}
	}

	&:hover {
		@apply shadow-xs;

		> .container > .image {
			> img {
				@apply scale-105;
			}

			> .overlay {
				@apply bottom-0;
			}
		}
	}
}

* {
	@mixin larger-than $mantine-breakpoint-sm {
		.root {
		}
	}
	@mixin larger-than $mantine-breakpoint-md {
		.root {
		}
	}
	@mixin larger-than $mantine-breakpoint-lg {
		.root {
		}
	}

	@mixin dark {
		.root {
			@apply bg-dark-600;

			> .container,
			> .row,
			> .countdown,
			> .prompt {
				@apply border-dark-400;
			}

			> .container > .image > .overlay {
				@apply opacity-50;

				&.blurred {
					@apply opacity-100;

					> .text {
						@apply !text-white/50;
					}
				}
			}

			> .row > .section {
				.subtext {
					@apply !text-dark-50;
				}

				.price > .value {
					@apply !text-white;
				}
			}

			> .countdown {
				background-image: repeating-linear-gradient(
					135deg,
					rgba(255, 255, 255, 0.01),
					rgba(255, 255, 255, 0.01) 20px,
					#0000 20px,
					#0000 40px
				);
			}

			> .prompt > .cta {
				&.primary {
					@apply bg-dark-400 text-white;

					&:hover {
						@apply bg-dark-300;
					}
				}

				&.secondary {
					@apply bg-dark-600 border-dark-400 text-white;

					&:hover {
						@apply bg-dark-500;
					}
				}
			}
		}
	}
}
